/*-- 1.1 Leftbar / .left-aside --*/
.noty_animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.left-aside {
  width: 260px;
  background-color: #343843;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  z-index: 1000;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.left-aside .aside-branding {
  height: 60px;
  background-color: #bf5f24;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}
.list-menu-view .page-content {
  margin-left: 260px;
}
.hide-list-menu .page-content {
  margin-left: 0px;
}
.hide-list-menu .left-aside {
  left: -260px;
}
.aside-pin {
  display: none;
  position: absolute;
  right: 12px;
  top: 13px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  width: 32px;
  height: 32px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.aside-pin:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.aside-pin i {
  display: block;
  text-align: center;
  position: relative;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
}
.aside-close {
  display: none;
  position: absolute;
  right: 12px;
  top: 13px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  width: 32px;
  height: 32px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.aside-close:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.aside-close i {
  display: block;
  text-align: center;
  position: relative;
  font-size: 14px;
  line-height: 31px;
  color: #fff;
}
.off-canvas {
  overflow: hidden;
}
.left-navigation {
  overflow-y: auto;
}
.left-navigation li a {
  color: #9eadb3;
  position: relative;
}
.left-navigation li a:focus {
  text-decoration: none;
}
.left-navigation a.active {
  text-decoration: none;
  color: #15bdc3;
  background-color: rgba(0, 0, 0, 0.1);
}
.left-navigation > ul {
  margin: 0px;
  padding: 0px;
}
.left-navigation > ul > li {
  list-style: none;
}
.left-navigation > ul > li > a {
  color: #9eadb3;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  padding: 13px;
  display: block;
}
.left-navigation > ul > li > a .nav-icon {
  padding-right: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.left-navigation > ul > li > a:hover {
  color: #15bdc3;
  text-decoration: none;
}
.left-navigation > ul ul {
  margin: 0px 0px 0px 16px;
  border-left: rgba(255, 255, 255, 0.05) 1px solid;
  padding: 0px;
  list-style: none;
}
.left-navigation > ul ul li a {
  padding: 10px 10px 10px 16px;
  display: block;
}
.left-navigation > ul ul li a:focus {
  text-decoration: none;
}
.left-navigation > ul ul li a:hover {
  color: #15bdc3;
  text-decoration: none;
}
.left-navigation > ul ul li a .nav-icon {
  padding-right: 10px;
}
.left-navigation .list-accordion li ul {
  display: none;
}
.left-navigation .list-accordion > li > a {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.left-navigation .list-accordion > li > a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #282c36;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.left-navigation li a:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.mask {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5100;
}
.m-mask {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 6100;
}
.i-mask {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 6100;
}
/*-- 1.2 Iconic Left Nav / .iconic-view .left-aside --*/
.iconic-view .left-aside {
  width: 60px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.iconic-view .left-aside .left-navigation li {
  position: relative;
}
.iconic-view .left-aside .left-navigation > ul > li .nav-label {
  display: none;
}
.iconic-view .left-aside .left-navigation > ul > li > a {
  padding: 0px;
}
.iconic-view .left-aside .left-navigation > ul > li > a:hover {
  cursor: pointer;
}
.iconic-view .left-aside .left-navigation > ul > li .nav-icon {
  padding: 0px;
  width: 60px;
  height: 60px;
  display: block;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.iconic-view .left-aside .left-navigation > ul > li .nav-icon i {
  position: relative;
  left: -3px;
}
.iconic-view .left-aside .left-navigation ul ul {
  display: none !important;
}
.iconic-view .page-content {
  margin-left: 60px;
}
.iconic-view .dcjq-icon {
  display: none;
}
.iconic-view .left-navigation {
  overflow: hidden;
}
.dcjq-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 14px;
  top: 15px;
}
.dcjq-icon:after {
  content: "\f105";
  font-family: 'FontAwesome';
  display: inline-block;
  position: relative;
  top: -3px;
  right: -6px;
}
.dcjq-parent.active .dcjq-icon:after {
  content: "\f107";
  font-family: 'FontAwesome';
}
/*-- 1.3 Top Bar / .top-bar --*/
.top-bar {
  min-height: 60px;
  background-color: #eceff1;
  margin-top: -1px;
  z-index: 800;
  position: relative;
  -webkit-box-shadow: 0 0 0px rgba(68, 68, 68, 0.2);
  -moz-box-shadow: 0 0 0px rgba(68, 68, 68, 0.2);
  box-shadow: 0 0 0px rgba(68, 68, 68, 0.2);
}
.top-bar .top-nav {
  position: relative;
}
.mobile-search-btn {
  display: none;
}
.fixed-header .top-bar {
  position: fixed;
  top: 0px;
  z-index: 5000;
}
.fixed-header .main-container {
  margin-top: 60px;
  padding-top: 1px;
}
.leftbar-action {
  position: relative;
  display: block;
  left: 0px;
  top: 12px;
  width: 32px;
  height: 32px;
  background-color: #78909c;
  color: #ffffff;
  text-align: center;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.leftbar-action:hover,
.leftbar-action:active,
.leftbar-action:focus {
  background-color: #15bdc3;
  text-decoration: none;
  color: #ffffff;
}
.leftbar-action i {
  width: 32px;
  height: 32px;
  display: block;
  line-height: 32px;
}
.leftbar-action-mobile {
  position: relative;
  display: none;
  left: 0px;
  top: 12px;
  width: 32px;
  height: 32px;
  background-color: #78909c;
  color: #ffffff;
  text-align: center;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.leftbar-action-mobile:hover,
.leftbar-action-mobile:active,
.leftbar-action-mobile:focus {
  background-color: #15bdc3;
  text-decoration: none;
  color: #ffffff;
}
.leftbar-action-mobile i {
  width: 32px;
  height: 32px;
  display: block;
  line-height: 32px;
}
.m-aside-action {
  position: relative;
  display: block;
  left: 0px;
  top: 12px;
  width: 32px;
  height: 32px;
  background-color: #78909c;
  text-align: center;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.m-aside-action:hover,
.m-aside-action:active,
.m-aside-action:focus {
  text-decoration: none;
}
.m-aside-action i {
  width: 32px;
  height: 32px;
  display: block;
  line-height: 32px;
}
.m-aside-action {
  display: none;
}
.top-aside-right {
  position: relative;
}
.top-aside-right .rightbar-action {
  position: absolute;
  right: 0px;
  top: 13px;
  width: 32px;
  height: 32px;
  text-align: center;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  background-color: #78909c;
  color: #ffffff;
}
.top-aside-right .rightbar-action:hover,
.top-aside-right .rightbar-action:active,
.top-aside-right .rightbar-action:focus {
  text-decoration: none;
  background-color: #15bdc3;
  color: #fff;
}
.top-aside-right .rightbar-action i {
  width: 32px;
  height: 32px;
  display: block;
  line-height: 32px;
}
.top-bar-action .rightbar-action {
  display: none;
  position: absolute;
  right: 15px;
  top: 13px;
  width: 32px;
  height: 32px;
  text-align: center;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  background-color: #78909c;
}
.top-bar-action .rightbar-action:hover,
.top-bar-action .rightbar-action:active,
.top-bar-action .rightbar-action:focus {
  background-color: #15bdc3;
  text-decoration: none;
  color: #ffffff;
}
.top-bar-action .rightbar-action i {
  width: 32px;
  height: 32px;
  display: block;
  color: #ffffff;
  line-height: 32px;
}
/*-- 5.3.0 Search Bar / .desktop-search --*/
.desktop-search {
  position: relative;
}
.desktop-search span {
  color: #444444;
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  line-height: 60px;
}
.desktop-search span:hover {
  color: #15bdc3;
}
.desktop-search span i {
  display: inline-block;
  font-size: 18px;
}
.mobile-search {
  display: none;
  position: relative;
}
.mobile-search span {
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  line-height: 60px;
}
.mobile-search span:hover {
  color: #15bdc3;
}
.mobile-search span i {
  display: inline-block;
  font-size: 18px;
}
.search-form {
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  height: 60px;
  position: absolute;
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -ms-transform: -ms-transform 0.3s;
  -o-transform: -o-transform 0.3s;
  transition: transform 0.3s;
  top: 0px;
  left: 15px;
  background-color: #fff;
  z-index: 100;
}
.search-form input {
  outline: none;
  border: 0px;
  height: 60px;
  width: 95%;
  margin-left: 15px;
}
.search-form .search-close {
  text-align: center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  line-height: 60px;
  position: absolute;
  right: 0px;
  font-size: 24px;
  top: 0px;
  cursor: pointer;
}
.search-form .search-close:hover {
  color: #15bdc3;
}
.search-show {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
/*-- 1.3.1 Notification / .notification-nav --*/
.notification-nav {
  float: left;
  margin-left: 15px;
  width: 100%;
}
.notification-nav ul {
  margin: 0px;
  padding: 0px;
}
.notification-nav ul li {
  list-style: none;
}
.notification-nav > ul > li {
  display: inline-block;
  float: left;
}
.notification-nav > ul > li > a {
  display: inline-block;
  height: 61px;
  width: 61px;
  text-align: center;
  position: relative;
  float: left;
  color: #444444;
}
.notification-nav > ul > li > a .alert-bubble {
  background-color: #fb8c00;
  display: inline-block;
  color: #ffffff;
  line-height: normal;
  font-size: 12px;
  position: absolute;
  padding: 4px 5px;
  right: 6px;
  top: 6px;
  font-weight: 500;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.notification-nav > ul > li > a i {
  width: 32px;
  height: 32px;
  display: inline-block;
  -webkit-border-top-right-radius: 16px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 16px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 18px;
  line-height: 30px;
  margin-top: 13px;
  position: relative;
}
.notification-nav > ul > li > a:hover,
.notification-nav > ul > li > a:active,
.notification-nav > ul > li > a:focus {
  text-decoration: none;
  color: #15bdc3;
}
.notification-nav .dropdown-menu {
  padding: 0px;
  border-color: #e5e5e5;
  min-width: 300px;
  min-height: 0px;
  max-height: 350px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin-top: 0px;
  border-top: 0px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.message-dropdown {
  padding: 0px !important;
}
.message-dropdown h4 {
  font-size: 14px;
  font-weight: 500;
  padding: 15px 15px;
  margin: 0px;
  border-bottom: #eee 1px solid;
}
.message-dropdown .message-wrap > ul > li {
  display: table;
  padding: 0px;
  border-bottom: #eee 1px solid;
  background: #f9f9f9;
}
.message-dropdown .message-wrap > ul > li > a {
  font-size: 12px;
  color: #444444;
  text-decoration: none;
  padding: 8px;
}
.message-dropdown .message-wrap > ul > li > a:hover {
  text-decoration: none;
  color: #2980b9;
}
.message-dropdown .message-wrap > ul > li:hover,
.message-dropdown .message-wrap > ul > li:active,
.message-dropdown .message-wrap > ul > li:focus {
  background: #fff;
  text-decoration: none;
}
.message-thumb {
  width: 40px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
}
.message-thumb img {
  width: 40px;
  height: 40px;
  padding: 2px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.message-intro {
  display: inline-block;
  width: 240px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 0px !important;
}
.message-meta {
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
}
.message-time {
  display: block;
  color: #999999;
}
.notification-btn {
  padding: 15px 15px !important;
  margin: 10px !important;
  display: block;
  width: auto;
  text-align: center;
}
.notification-btn i {
  float: right;
  position: relative;
  top: 1px;
  font-size: 18px;
}
.notification-dropdown {
  padding: 0px;
}
.notification-dropdown .notification-wrap > ul > li > a {
  display: table;
  padding: 8px;
  font-size: 12px;
  color: #444444;
  background: #f9f9f9;
  text-decoration: none;
  border-bottom: #eee 1px solid;
}
.notification-dropdown .notification-wrap > ul > li > a > span {
  display: table-cell;
  vertical-align: middle;
}
.notification-dropdown .notification-wrap > ul > li > a:hover {
  background: #fff;
}
.notification-dropdown h4 {
  font-size: 14px;
  font-weight: 500;
  padding: 15px;
  margin: 0px;
  border-bottom: #eee 1px solid;
}
.ni {
  width: 34px;
  padding: 8px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.w-gray {
  background: #e8e8e8;
}
.w-light-gray {
  background: #eee;
}
.w-brown {
  background: #ab6634;
}
.w-blue-violate {
  background: #8581d8;
}
.w-dark-yellow {
  background: #e77e23;
}
.w-magenta {
  background: #9b58b5;
}
.w-blue {
  background: #3498db;
}
.w-orange {
  background: #e74d3d;
}
.w-bondi-blue {
  background: #34495e;
}
.w-green {
  background: #1bbc9b;
}
.notification-message {
  width: 246px;
  padding-left: 10px;
}
.notification-time {
  font-size: 11px;
  color: #aaa;
  display: block;
  font-style: italic;
}
/*-- 1.3.2 Admin User Drop Down / .user-nav --*/
.user-nav {
  float: right;
  margin-right: 44px;
}
.user-nav ul {
  margin: 0px;
  padding: 0px;
}
.user-nav ul li {
  list-style: none;
}
.user-nav ul > li .user-info {
  display: inline-block;
  float: left;
  line-height: 20px;
  margin-top: 8px;
}
.user-nav ul > li .user-info cite {
  display: block;
  font-size: 12px;
  font-style: normal;
}
.user-nav ul > li .user-thumb {
  display: inline-block;
  float: right;
}
.user-nav ul ul > li > a:hover {
  background-color: #f5f5f5;
  color: #15bdc3;
}
.user-nav > ul > li > a {
  color: #444444;
  display: block;
  min-height: 61px;
  padding: 0px 10px 0px 14px;
}
.user-nav > ul > li.open > a {
  color: #454545;
  display: block;
  min-height: 61px;
  padding: 0px 10px 0px 14px;
}
.user-nav .dropdown-menu {
  margin: 0px -1px 0 -1px;
  right: 0px;
  border-color: #e5e5e5;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.user-nav .dropdown-menu li::last-child a {
  border-bottom: none;
}
.user-nav .dropdown-menu > li > a {
  line-height: 45px;
  border-bottom: #eeeeee 1px solid;
  padding: 0px 15px;
}
.user-nav .dropdown {
  border-left: rgba(0, 0, 0, 0.1) 1px solid;
  border-top: rgba(0, 0, 0, 0.1) 1px solid;
  border-right: rgba(0, 0, 0, 0.1) 1px solid;
  margin-top: -1px;
}
.user-nav .dropdown.open {
  -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}
.user-nav-icon {
  margin-right: 10px;
}
.user-nav-icon i {
  font-size: 14px;
  position: relative;
  top: 0px;
}
.user-nav-label {
  position: relative;
  top: -2px;
}
.user-thumb {
  margin: 6px 0px 3px 10px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.user-thumb img {
  background-color: #fff;
  width: 46px;
  height: 46px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
/*-- 1.4 Right Bar / .right-aside --*/
.right-aside {
  width: 300px;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  position: fixed;
  height: 100%;
  visibility: hidden;
  top: 0px;
  z-index: 1000;
  right: 0px;
  -ms-transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.right-aside .aside-branding {
  height: 60px;
  background-color: #15bdc3;
}
.right-aside .aside-branding .rightbar-action {
  position: absolute;
  right: 12px;
  top: 13px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  width: 32px;
  height: 32px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.right-aside .aside-branding .rightbar-action:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.right-aside .aside-branding .rightbar-action i {
  display: block;
  text-align: center;
  position: relative;
  font-size: 14px;
  line-height: 31px;
  color: #fff;
}
.right-aside.rightbar-show {
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  visibility: visible;
}
.aside-tab {
  position: relative;
  height: 60px;
}
.aside-tab .nav-tabs {
  border-bottom: 0px;
}
.aside-tab li a {
  height: 60px;
  width: 60px;
  border: 0px;
  padding: 0px;
  margin-right: 0px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.aside-tab li a:focus,
.aside-tab li a:hover {
  border: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  color: #f5f5f5;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.aside-tab li.active a {
  border: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #f5f5f5;
}
.aside-tab li.active a:focus,
.aside-tab li.active a:hover {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  cursor: pointer;
  border: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #f5f5f5;
  color: #15bdc3;
}
.chat-list {
  margin: 0px 0px 20px 0px;
  padding: 0px;
  list-style: none;
}
.chat-list li {
  display: table;
  position: relative;
  width: 100%;
  padding: 20px 20px;
  border-bottom: #eeeeee 1px solid;
  background-color: #f9f9f9;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.chat-list li a {
  display: block;
  width: 100%;
  position: relative;
  color: #444444;
}
.chat-list li a > span {
  display: table-cell;
  vertical-align: middle;
}
.chat-list li a:hover,
.chat-list li a:focus {
  text-decoration: none;
  color: #15bdc3;
}
.chat-list li .chat-avatar {
  position: relative;
  width: 40px;
  height: 40px;
}
.chat-list li .chat-avatar img {
  width: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.chat-list li .chat-u-info {
  padding-left: 12px;
  font-size: 12px;
  font-weight: 500;
}
.chat-list li .chat-u-info cite {
  display: block;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  color: #868686;
}
.chat-list li .chat-u-status {
  position: absolute;
  top: 32%;
  right: 20px;
  color: #ccc;
}
.chat-list li .chat-u-status i {
  text-shadow: 0 0 3px #fff;
  font-size: 8px;
  color: #ddd;
}
.chat-list li:hover {
  background-color: #fff;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.chat-list li.chat-u-online i {
  color: #00c853;
}
.aside-tab-wigets h3 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: #eeeeee 1px solid;
  letter-spacing: .1em;
  color: #868686;
}
.aside-tab-wigets h3 .online-counter {
  font-size: 11px;
  text-transform: none;
  letter-spacing: normal;
  color: #00c853;
}
.conv-container {
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -o-transform: translateX(300px);
  -ms-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -ms-transform: -ms-transform 0.3s;
  -o-transform: -o-transform 0.3s;
  transition: transform 0.3s;
  width: 300px;
  height: 100%;
  position: fixed;
  visibility: hidden;
  top: 0px;
  z-index: 2000;
  background-color: #fff;
}
.conv-container .conv-u-info {
  width: 300px;
  height: 60px;
  background-color: #eee;
}
.conv-container .conv-u-info ul {
  display: table;
  list-style: none;
  margin: 0px;
  padding: 3px 6px;
  position: relative;
  width: 100%;
}
.conv-container .conv-u-info ul > li {
  display: table-cell;
  vertical-align: middle;
  padding: 6px;
}
.conv-container .conv-u-info ul .chat-avatar {
  width: 48px;
  height: 48px;
}
.conv-container .conv-u-info ul .chat-avatar img {
  width: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.conv-container .conv-u-info ul .chat-u-info {
  font-size: 12px;
}
.conv-container .conv-u-info ul .chat-u-info span {
  display: block;
  color: #868686;
  font-size: 11px;
}
.conv-container .conv-u-info ul .chat-u-call {
  display: inline-block;
  background-color: #fff;
  width: 32px !important;
  height: 32px !important;
  border: #ddd 1px solid;
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.conv-container .conv-u-info ul .chat-u-call:hover {
  border: #15bdc3 1px solid;
  background-color: #15bdc3;
  color: #fff;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.conv-container .conv-u-info ul .chat-close {
  display: inline-block;
  background-color: #fff;
  width: 32px !important;
  height: 32px !important;
  border: #ddd 1px solid;
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 12px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.conv-container .conv-u-info ul .chat-close i {
  font-size: 18px;
  position: relative;
  left: 1px;
}
.conv-container .conv-u-info ul .chat-close:hover {
  border: #15bdc3 1px solid;
  background-color: #15bdc3;
  color: #fff;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.conv-container.show-conv {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -ms-transform: -ms-transform 0.3s;
  -o-transform: -o-transform 0.3s;
  transition: transform 0.3s;
  visibility: visible;
}
.chat-search-form {
  padding: 20px;
}
.chat-search-form .chat-u-search {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.chat-search-form .chat-u-search:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: #15bdc3 1px solid;
}
.chat-user-list {
  overflow-y: auto;
}
.converstaion-list {
  overflow-y: auto;
  padding-bottom: 20px;
}
.converstaion-list .conversation-back {
  padding: 15px 15px 0px 15px;
  display: table;
}
.converstaion-list .conversation-back > div {
  display: table-cell;
  vertical-align: middle;
}
.converstaion-list .conversation-back .conv-thumb {
  width: 48px;
  height: 48px;
  padding-right: 10px;
}
.converstaion-list .conversation-back .conv-thumb img {
  width: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.converstaion-list .conversation-back .conv-text {
  padding: 10px;
  font-size: 13px;
  border: #eeeeee 1px solid;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}
.converstaion-list .conversation-back .conv-text:after,
.converstaion-list .conversation-back .conv-text:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.converstaion-list .conversation-back .conv-text:after {
  border-color: rgba(245, 245, 245, 0);
  border-right-color: #f5f5f5;
  border-width: 7px;
  margin-top: -7px;
}
.converstaion-list .conversation-back .conv-text:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #eeeeee;
  border-width: 8px;
  margin-top: -8px;
}
.converstaion-list .conversation-front {
  padding: 15px 15px 0px 15px;
  display: table;
}
.converstaion-list .conversation-front > div {
  display: table-cell;
  vertical-align: middle;
}
.converstaion-list .conversation-front .conv-text {
  border: #b2ebf2 1px solid;
  padding: 10px;
  background-color: #e0f7fa;
  font-size: 13px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  color: #0097a7;
}
.converstaion-list .conversation-front .conv-text:after,
.converstaion-list .conversation-front .conv-text:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.converstaion-list .conversation-front .conv-text:after {
  border-color: rgba(245, 245, 245, 0);
  border-left-color: #e0f7fa;
  border-width: 7px;
  margin-top: -7px;
}
.converstaion-list .conversation-front .conv-text:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #b2ebf2;
  border-width: 8px;
  margin-top: -8px;
}
.chat-input-form {
  padding: 20px;
  border-top: #eeeeee 1px solid;
}
.chat-input-form .chat-input {
  resize: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 6px;
  height: 34px;
}
.chat-input-form .chat-input:focus {
  border: #15bdc3 1px solid;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.server-stats-content {
  overflow-y: auto;
}
.server-stats-content .progress-wrap {
  padding: 0px 20px 20px 20px;
}
.server-stats-content h3 {
  padding-top: 20px;
  margin-bottom: 20px;
}
.server-stats-content .progress {
  margin-bottom: 0px;
}
.aside-notifications-wrap {
  overflow-y: auto;
}
.aside-notifications-wrap .message-wrap > ul {
  list-style: none;
  padding: 0px;
}
.aside-notifications-wrap .message-wrap > ul > li {
  border-bottom: #eee 1px solid;
  background: #f9f9f9;
}
.aside-notifications-wrap .message-wrap > ul > li > a {
  font-size: 12px;
  color: #444444;
  text-decoration: none;
  padding: 8px;
}
.aside-notifications-wrap .message-wrap > ul > li > a:hover {
  text-decoration: none;
  color: #2980b9;
}
.aside-notifications-wrap .message-wrap > ul > li:hover,
.aside-notifications-wrap .message-wrap > ul > li:active,
.aside-notifications-wrap .message-wrap > ul > li:focus {
  background: #fff;
  text-decoration: none;
}
.aside-notifications-wrap .notification-wrap > ul {
  list-style: none;
  padding: 0px;
}
.aside-notifications-wrap .notification-wrap > ul > li > a {
  display: table;
  padding: 8px;
  font-size: 12px;
  color: #444444;
  background: #f9f9f9;
  text-decoration: none;
  border-bottom: #eee 1px solid;
}
.aside-notifications-wrap .notification-wrap > ul > li > a > span {
  display: table-cell;
  vertical-align: middle;
}
.aside-notifications-wrap .notification-wrap > ul > li > a:hover {
  background: #fff;
}
.aside-notifications-wrap h4 {
  font-size: 14px;
  font-weight: 500;
  padding: 15px;
  margin: 0px;
  border-bottom: #eee 1px solid;
}
.aside-notifications {
  position: relative;
}
.aside-notifications .alert-bubble {
  background-color: #fb8c00;
  display: inline-block;
  color: #fff;
  line-height: normal;
  font-size: 12px;
  position: absolute;
  padding: 4px 5px;
  right: 6px;
  top: 6px;
  font-weight: 500;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.uasge-wrap ul {
  width: 100%;
  list-style: none;
  display: table;
  padding: 0px 20px 20px 20px;
  margin: 0px;
}
.uasge-wrap ul li {
  display: table-cell;
  vertical-align: middle;
}
.uasge-wrap ul .usage-chart {
  padding-left: 5px;
  text-align: right;
}
.uasge-wrap ul .usage-chart .percent {
  font-size: 11px;
  font-weight: 500;
}
.uasge-wrap h4 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
  display: inline-block;
  margin-top: 0px;
  text-transform: uppercase;
  letter-spacing: .05em;
}
.uasge-wrap .uasge-intro {
  display: block;
  color: #868686;
  font-size: 12px;
}
.r-mask {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5900;
}
