.Medium{
    position: relative;
    min-height: 10px;
    }
.Medium-clear{
    background: transparent !important;
    background-color: transparent !important;
    border-color: transparent !important;
}
.Medium,
    .Medium p:first-child{
        margin-top:0;
        }
    .Medium p:last-child{
        margin-bottom:0;
        }
    .Medium p:empty {
        display: block;
	    height: 1em;
    }
.Medium-paste-hook{
    opacity: 0;
	width: 1px;
	height: 1px;
	position: absolute;
    }
.Medium-placeholder{
	position: absolute;
	}
.Medium-placeholder div{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
	position: absolute;
	}
.Medium-placeholder-rich div{
	font-style: italic;
	}
.Medium-inline,
.Medium-placeholder-inline div,
.Medium-inlineRich,
.Medium-placeholder-inlineRich div{
	overflow: hidden;
	white-space: nowrap;
	}
.Medium-drag {
	position: absolute;
	cursor: move;
	margin-left: -5px;
	margin-top: -20px;
	}
.Medium-toolbar-hide {
	overflow: hidden;
	max-height: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	transition-property: opacity;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	-o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	opacity: 0;
	}

.Medium-toolbar-show {
	transition-property: opacity;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-moz-transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
	max-height: 1000px;
	opacity: 1;
	width: auto !important;
	}

.Medium-toolbar-fixed {
	position: fixed;
	}
.Medium-focused {
	transition: all 500ms ease-in-out 0s;
	-moz-box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.2);
	}