/*!
 * @package    yii2-krajee-base
 * @subpackage yii2-widget-activeform
 * @author     Kartik Visweswaran <kartikv2@gmail.com>
 * @copyright  Copyright &copy; Kartik Visweswaran, Krajee.com, 2014 - 2017
 * @version    1.8.9
 *
 * HTML 5 input styling for [Bootstrap 3.x](http://getbootstrap.com)
 * Covers color and range inputs with embedded input group addons.
 *
 * Built for Yii Framework 2.0
 * For more Yii related demos visit http://demos.krajee.com
 */
.input-group-html5 {
    width: 100% !important;
}

.input-group-html5 .input-group-addon {
    width: auto;
    padding: 5px 6px;
}

.input-group-html5 input[type="color"], .input-group-html5 input[type="range"] {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    background: none;
    width: 100%;;
}

.input-group .addon-color {
    padding: 2px;
}

.input-group-lg input[type="color"] {
    height: 24px !important;
}

.input-group-sm input[type="color"] {
    height: 14px !important;
}

.input-group-html5 .addon-range {
    min-width: 50%;
}

.input-group-html5 .input-group-addon + .input-group-addon {
    border-left: 0 !important;
}

.input-group-html5 .input-group-addon + .form-control {
    border-left: 0 !important;
}

.input-group-html5 .input-group-addon:first-child {
    border-right: 1px solid #ccc !important;
}

.input-group-html5 input[disabled] {
    opacity: .65;
    cursor: not-allowed;
}

.input-group-html5.kv-range-vertical {
    float: left;
    height: 200px;
    width: 50px !important;
    margin-right: 5px;
}

.input-group-html5.kv-range-vertical input.form-control {
    height: 214px;
    width: 40px;
    padding: 0 3px;
    line-height: 0;
    text-align: center;
}

.input-group-html5.kv-range-vertical input[type=range] {
    -ms-writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px !important;
    height: 200px;
}

.input-group-html5.kv-range-vertical .input-group-addon,
.input-group-html5.input-group-sm .input-group-addon {
    padding: 2px 10px;
}

.kv-center-loading {
    background: transparent url('../img/loading-plugin.gif') center center no-repeat;
}