body {
	background-color: #ecf0f1;
	padding-top: 70px;
}

/* Top Nav */
ul.dropdown-menu {
	background-color: #263238;
}
.nav .open > a,
.nav .open > a:focus,
 .nav .open > a:hover {
	background-color: #18bc9c;
	color: #ffffff;
}
ul.dropdown-menu li a {
	color: #fff;
}
.navbar-inverse {
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.24)
}

.header {
	height: 400px;
	margin-top:0px;
	margin-bottom: 10px;
}
#header-logo {
	margin-top:5px;
	padding-right:21px;
	float:left
}
.header .header-logo {
	margin-top:18px;
	padding-right:30px;
	float:left
}
.header .header-text h1 {
	font-family:"Titillium Web",sans-serif
}
.header .lead,.header h1 {
	margin-bottom:0
}
.header a{
	color:#f39c12
}
.header a:hover {
	color:#f39c12
}
@media screen and (min-width:768px) {
	.header {}
}

@media screen and (max-width:480px) {
	#header-logo {
	margin-top:5px;
	padding-right:35px;
	float:left
}
	.header .header-logo {
		display:none;
	}
	.header {
		display: none;
	}
	.carousel-caption {
		display: none;
	}
	.header {
		text-align: center;
	}
}


@media screen and (max-width: 375px){
#header-logo {
    margin-top: 5px;
    padding-right: 40px;
    float: left;
	}
}
@media screen and (max-width: 360px){
#header-logo {
    margin-top: 5px;
    padding-right: 35px;
    float: left;
	}
	
}
@media screen and (max-width: 320px){
#header-logo {
    margin-top: 5px;
    padding-right: 0px;
    float: left;
	}
}
#slidenya {
    width: 862px;
	margin-left: 6px;
    transform-origin: 60px 0px 0px;
    transform: scale(1.5);
}
#image-slider{
	margin-bottom:10px;
}
/* News Ticker */
.text-slider {
	z-index: 0;
	background: #162029;
	color:#FFF;
	font-size:17px;
	margin-top:-8px;
	margin-bottom: 20px;
	height:30px;
	padding:10px;
	text-shadow:0 1px 0 rgba(0,0,0,.15);
	box-shadow:0 2px 5px 0 rgba(0,0,0,10)
}
.text-slider .container ul {
	top: -5px;
}
@media screen and (min-width:768px) {
	.text-slider .container ul {
		top: -5px;
	}
}

@media screen and (max-width:480px) {
	.text-slider .container ul {
		top: -5px;
	}
}

.footer {
	width:100%;
	background:#277364;
	padding:25px 0 55px;
	margin-top:30px;
	bottom:0;
	border-top: 2px solid #f39c12;
}
.footer h4 {
	color:#fff;
	font-weight:700;
	padding-bottom:17px;
	font-size:20px;
	margin:30px 0 17px;
	position:relative
}
.footer h4::after {
	background-color:#d5d5d5;
	bottom:0;
	content:"";
	height:1px;
	left:0;
	position:absolute;
	width:40px
}
.footer a, .footer p {
	color:#fff
}
.footer a:hover {
	color:#fff;
	text-decoration:none
}
.footer ul {
	margin:0;
	padding:0;
	list-style:none
}
.footer ul li {
	font-size:15px;
	font-weight:300;
	padding-bottom:4px;
	list-style:none
}
.footer ul li:last-child {
	border:0
}
.copyright {
	text-align: center;
	width:100%;
	background:#263238;
	padding:20px 0 10px 0;
}
.copyright  {
	font-size:14px;
	margin-bottom:0;
	color: #fff;
}
.copyright a {
	color: #fff;
}
.no-padding {
	padding: 0;
}
.no-border {
	border:none;
}
.media {
	background-color: #fff; 
}
.media h4 a, .thumbnail h4 a {
	color: maroon;
}
.breadcrumb {
	background-color: #0593d0;
}
.breadcrumb a, .breadcrumb .active {
	color: #fff;
}
.panel-default {
	border-color: #18bc9c;
}
.panel-default > .panel-heading {
	color: #fff;
	background-color: #18bc9c;
}
.panel-title {
	font-weight: bold;
}

.slider {
	margin-bottom: 25px;
}

/* Bootstrap Posts */
.thumb {
   display: block;
	width: 100%;
	margin: 0;
}
.by-author {
	line-height: 1.3;
}
.featured-article {
	position: relative;
	margin-bottom: 1em;
}
.featured-article .block-title {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: rgba(0,0,0,0.7);
	padding: .5em;
	width: 100%;
	color: #fff;
}
.featured-article .block-title h2 {
	margin: 0;
}
.main-list .media {
	border: 4px solid #ffffff;
}

..thumbnail {
	border-radius: 1px;
}

/* Page Header */ 
.post-header {
	background-color: #18bc9c;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
}
.breadcrumb .post-header a {
	cursor: pointer;
}

/* Back to TOP */ 
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #18bc9c;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 19px;
    top: 15px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #f39c12;
}
#return-to-top:hover i {
    color: #fff;
}

.text-danger {
	color: #f44336;
	font-style: italic;
}
/* Marquee */
ul.marquee {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	position: relative;
	overflow: hidden;
	height: 22px;
	background-color: transparent;
}
ul.marquee li {
	position: absolute;
	top: -900em;
	left: 0;
	display: block;
	white-space: nowrap;
	font: 14px Arial, Helvetica, sans-serif;
	padding: 2px 5px;
}

/* footer social icons */
ul.social-network {
	margin-top: 13px;
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a:hover {
	background-color: #18bc9c;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	background-color: #f39c12;
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 40px;
	height: 40px;
	font-size:18px;
}
.social-circle li i {
	margin:0;
	line-height:40px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/* slidenya */
@media screen and (min-width:1440px) {
#head{height: 740px;}	
#slidenya {width: 890px;transform-origin: 35px 0px 0px;transform: scale(1.6);}
}

@media screen and (min-width: 970px){
#head{height: 325px;}	
#slidenya {width: 843px;transform-origin: 60px 0px 0px;transform: scale(1.6);}
}
@media screen and (min-width:992px) {
#head{height: 797px;}	
#slidenya {width: 790px;margin-left: 22px;transform-origin: 37px 0px 0px;transform: scale(1.6);}
}

@media screen and (min-width:1200px) {
#head{height: 837px;}	
#slidenya {width: 789px;transform-origin: 37px 0px 0px;transform: scale(1.6);}
}

@media screen and (max-width:480px) {
#head{height: 317px;}	
#slidenya{width:284px;transform-origin: 45px 0px 0px;transform: scale(1.5);}	
}

@media screen and (max-width:375px) {
#head {height: 465px;}	
#slidenya {width: 260px;transform-origin: 43px 0px 0px;transform: scale(1.5);}
}
@media screen and (max-width:360px) {
#head {height: 458px;}		
#slidenya {width: 250px;transform-origin: 40px 0px 0px;transform: scale(1.5);}
}

@media screen and (max-width:320px) {
#head{height: 434px;}	
#slidenya {width: 215px;margin-left: 6px;transform-origin: 14px 0px 0px;transform: scale(1.5);}
}
/* slidenya */

/* Disable on Desktop */
@media screen and (min-width: 420px) {
#mobile{display:none !important;}	
}		
/* Disable on Mobile */
@media only screen and (max-width:420px) {
#desktop{display:none !important;}
}

.carousel-caption {
	color: yellow;
	font-size: 20px;
	text-align: left;
	position: absolute;
	padding-top: 5px;
	padding-bottom: 5px;
	left: 5%;
	right: 5%;
	z-index: 10;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 2);
}

.tab-content {
	padding: 25px;
	background-color: #fff;
	border-left: 3px solid #18bc9c;
	border-right: 3px solid #18bc9c;
	border-bottom: 3px solid #18bc9c;
}
.nav-tabs {
	border-bottom: 3px solid #18bc9c;
}
.nav-tabs > li {
	margin-bottom: 0;
	font-size: 13px;
	font-weight: bold;
}
.nav-tabs > li a {
	color: #111111;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #ffffff;
  background-color: #18bc9c;
  border: 1px solid #18bc9c;
}
/* Overide Toastr color */
.toast {
  background-color: #030303;
}
/* custom toastr success */
.toast-success {
  background-color: #00cb18;
}
/* custom toastr error */
.toast-error {
  background-color: #ef4836;
}
/* custom toastr info */
.toast-info {
  background-color: #4b8df8;
}
/* custom toastr warning */
.toast-warning {
  background-color: #ffb848;
}
#toast-container > div {
	width: 360px;
	opacity: 0.9;
}

.form-group {
  margin-bottom: 7px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 4px;
  }
}
#aplikasi {
	border-radius: 10px;
    padding: 10px 5px 0 5px;
	margin-bottom: 10px;
    background-color: #d6d5d5;
}