@font-face {
  font-family: 'matmix-icons';
  src: url('../fonts/matmix-icons.eot?22z35q');
  src: url('../fonts/matmix-icons.eot?#iefix22z35q') format('embedded-opentype'), url('../fonts/matmix-icons.ttf?22z35q') format('truetype'), url('../fonts/matmix-icons.woff?22z35q') format('woff'), url('../fonts/matmix-icons.svg?22z35q#matmix-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="ico-"],
[class*=" ico-"] {
  font-family: 'matmix-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ico-add-to-list:before {
  content: "\e600";
}
.ico-creative-commons-noncommercial-eu:before {
  content: "\e601";
}
.ico-creative-commons-noncommercial-us:before {
  content: "\e603";
}
.ico-creative-commons:before {
  content: "\e604";
}
.ico-arrow-long-down:before {
  content: "\e605";
}
.ico-arrow-long-left:before {
  content: "\e606";
}
.ico-arrow-long-right:before {
  content: "\e607";
}
.ico-bookmark2:before {
  content: "\e609";
}
.ico-bookmarks:before {
  content: "\e60a";
}
.ico-chevron-down:before {
  content: "\e60b";
}
.ico-chevron-left:before {
  content: "\e60c";
}
.ico-chevron-right:before {
  content: "\e60d";
}
.ico-chevron-thin-down:before {
  content: "\e60e";
}
.ico-chevron-thin-left:before {
  content: "\e60f";
}
.ico-chevron-thin-right:before {
  content: "\e610";
}
.ico-chevron-thin-up:before {
  content: "\e611";
}
.ico-chevron-up:before {
  content: "\e612";
}
.ico-chevron-with-circle-down:before {
  content: "\e613";
}
.ico-chevron-with-circle-left:before {
  content: "\e614";
}
.ico-chevron-with-circle-right:before {
  content: "\e615";
}
.ico-chevron-with-circle-up:before {
  content: "\e616";
}
.ico-controller-fast-forward:before {
  content: "\e617";
}
.ico-controller-jump-to-start:before {
  content: "\e618";
}
.ico-controller-next:before {
  content: "\e619";
}
.ico-controller-paus:before {
  content: "\e61a";
}
.ico-controller-play:before {
  content: "\e61b";
}
.ico-controller-record:before {
  content: "\e61c";
}
.ico-controller-stop:before {
  content: "\e61d";
}
.ico-dots-three-horizontal:before {
  content: "\e61e";
}
.ico-dots-three-vertical:before {
  content: "\e61f";
}
.ico-flow-branch:before {
  content: "\e620";
}
.ico-flow-cascade:before {
  content: "\e621";
}
.ico-flow-line:before {
  content: "\e622";
}
.ico-flow-parallel:before {
  content: "\e623";
}
.ico-flow-tree:before {
  content: "\e624";
}
.ico-resize-100:before {
  content: "\e625";
}
.ico-resize-full-screen:before {
  content: "\e626";
}
.ico-align-left:before {
  content: "\e627";
}
.ico-align-right:before {
  content: "\e628";
}
.ico-attachment:before {
  content: "\e629";
}
.ico-check2:before {
  content: "\e62a";
}
.ico-circle-with-cross:before {
  content: "\e62b";
}
.ico-circle-with-minus:before {
  content: "\e62c";
}
.ico-circle-with-plus:before {
  content: "\e62d";
}
.ico-code:before {
  content: "\e62e";
}
.ico-credit:before {
  content: "\e62f";
}
.ico-direction2:before {
  content: "\e630";
}
.ico-drop:before {
  content: "\e631";
}
.ico-email:before {
  content: "\e632";
}
.ico-flag2:before {
  content: "\e633";
}
.ico-flash:before {
  content: "\e634";
}
.ico-forward:before {
  content: "\e635";
}
.ico-globe:before {
  content: "\e636";
}
.ico-help:before {
  content: "\e637";
}
.ico-info-with-circle:before {
  content: "\e638";
}
.ico-info:before {
  content: "\e639";
}
.ico-lab-flask:before {
  content: "\e63a";
}
.ico-lifebuoy2:before {
  content: "\e63b";
}
.ico-pin:before {
  content: "\e63c";
}
.ico-quote:before {
  content: "\e63d";
}
.ico-reply-all:before {
  content: "\e63e";
}
.ico-reply:before {
  content: "\e63f";
}
.ico-scissors:before {
  content: "\e640";
}
.ico-share:before {
  content: "\e641";
}
.ico-shop:before {
  content: "\e642";
}
.ico-sound-mix:before {
  content: "\e643";
}
.ico-star-outlined:before {
  content: "\e644";
}
.ico-star:before {
  content: "\e645";
}
.ico-text-document-inverted:before {
  content: "\e646";
}
.ico-text-document:before {
  content: "\e647";
}
.ico-thumbs-down:before {
  content: "\e648";
}
.ico-thumbs-up:before {
  content: "\e649";
}
.ico-tools:before {
  content: "\e64a";
}
.ico-users2:before {
  content: "\e64b";
}
.ico-v-card:before {
  content: "\e64c";
}
.ico-video:before {
  content: "\e64d";
}
.ico-behance:before {
  content: "\e64e";
}
.ico-creative-cloud:before {
  content: "\e64f";
}
.ico-dropbox:before {
  content: "\e650";
}
.ico-evernote:before {
  content: "\e651";
}
.ico-flattr:before {
  content: "\e652";
}
.ico-foursquare:before {
  content: "\e653";
}
.ico-google-drive:before {
  content: "\e654";
}
.ico-google-hangouts:before {
  content: "\e655";
}
.ico-grooveshark:before {
  content: "\e656";
}
.ico-icloud:before {
  content: "\e657";
}
.ico-mixi:before {
  content: "\e658";
}
.ico-onedrive:before {
  content: "\e659";
}
.ico-paypal:before {
  content: "\e65a";
}
.ico-picasa:before {
  content: "\e65b";
}
.ico-qq:before {
  content: "\e65c";
}
.ico-rdio-with-circle:before {
  content: "\e65d";
}
.ico-renren:before {
  content: "\e65e";
}
.ico-scribd:before {
  content: "\e65f";
}
.ico-sina-weibo:before {
  content: "\e660";
}
.ico-skype-with-circle:before {
  content: "\e661";
}
.ico-skype:before {
  content: "\e662";
}
.ico-slideshare:before {
  content: "\e663";
}
.ico-smashing:before {
  content: "\e664";
}
.ico-soundcloud:before {
  content: "\e665";
}
.ico-spotify-with-circle:before {
  content: "\e666";
}
.ico-spotify:before {
  content: "\e667";
}
.ico-swarm:before {
  content: "\e668";
}
.ico-vine-with-circle:before {
  content: "\e669";
}
.ico-vine:before {
  content: "\e66a";
}
.ico-vk-alternitive:before {
  content: "\e66b";
}
.ico-vk-with-circle:before {
  content: "\e66c";
}
.ico-vk:before {
  content: "\e66d";
}
.ico-xing-with-circle:before {
  content: "\e66e";
}
.ico-xing:before {
  content: "\e66f";
}
.ico-yelp:before {
  content: "\e670";
}
.ico-dribbble-with-circle:before {
  content: "\e671";
}
.ico-dribbble:before {
  content: "\e672";
}
.ico-facebook-with-circle:before {
  content: "\e673";
}
.ico-facebook:before {
  content: "\e674";
}
.ico-flickr-with-circle:before {
  content: "\e675";
}
.ico-flickr:before {
  content: "\e676";
}
.ico-github-with-circle:before {
  content: "\e677";
}
.ico-github:before {
  content: "\e678";
}
.ico-google-with-circle:before {
  content: "\e679";
}
.ico-google:before {
  content: "\e67a";
}
.ico-instagram-with-circle:before {
  content: "\e67b";
}
.ico-instagram:before {
  content: "\e67c";
}
.ico-lastfm-with-circle:before {
  content: "\e67d";
}
.ico-lastfm:before {
  content: "\e67e";
}
.ico-linkedin-with-circle:before {
  content: "\e67f";
}
.ico-linkedin:before {
  content: "\e680";
}
.ico-pinterest-with-circle:before {
  content: "\e681";
}
.ico-pinterest:before {
  content: "\e682";
}
.ico-rdio:before {
  content: "\e683";
}
.ico-stumbleupon-with-circle:before {
  content: "\e684";
}
.ico-stumbleupon:before {
  content: "\e685";
}
.ico-tumblr-with-circle:before {
  content: "\e686";
}
.ico-tumblr:before {
  content: "\e687";
}
.ico-twitter-with-circle:before {
  content: "\e688";
}
.ico-twitter:before {
  content: "\e689";
}
.ico-vimeo-with-circle:before {
  content: "\e68a";
}
.ico-vimeo:before {
  content: "\e68b";
}
.ico-youtube-with-circle:before {
  content: "\e68c";
}
.ico-youtube:before {
  content: "\e68d";
}
.ico-account-child:before {
  content: "\e693";
}
.ico-account-circle:before {
  content: "\e694";
}
.ico-announcement:before {
  content: "\e69b";
}
.ico-credit-card:before {
  content: "\e6ac";
}
.ico-delete:before {
  content: "\e6ae";
}
.ico-description:before {
  content: "\e6af";
}
.ico-done:before {
  content: "\e6b1";
}
.ico-event:before {
  content: "\e6b3";
}
.ico-highlight-remove:before {
  content: "\e6c2";
}
.ico-perm-phone-msg:before {
  content: "\e6e0";
}
.ico-print:before {
  content: "\e6e4";
}
.ico-question-answer:before {
  content: "\e6e6";
}
.ico-room:before {
  content: "\e6ec";
}
.ico-search2:before {
  content: "\e6ee";
}
.ico-star-rate:before {
  content: "\e706";
}
.ico-swap-horiz:before {
  content: "\e70b";
}
.ico-swap-vert:before {
  content: "\e70c";
}
.ico-turned-in:before {
  content: "\e71c";
}
.ico-view-headline:before {
  content: "\e724";
}
.ico-wallet-travel:before {
  content: "\e72e";
}
.ico-error:before {
  content: "\e730";
}
.ico-new-releases:before {
  content: "\e744";
}
.ico-playlist-add:before {
  content: "\e74d";
}
.ico-add-circle-outline:before {
  content: "\e78e";
}
.ico-clear:before {
  content: "\e792";
}
.ico-create:before {
  content: "\e796";
}
.ico-drafts:before {
  content: "\e797";
}
.ico-markunread:before {
  content: "\e79f";
}
.ico-remove-circle-outline:before {
  content: "\e7a3";
}
.ico-access-alarm:before {
  content: "\e7ad";
}
.ico-dvr:before {
  content: "\e7cf";
}
.ico-gps-fixed:before {
  content: "\e7d0";
}
.ico-border-color:before {
  content: "\e808";
}
.ico-arrow-back:before {
  content: "\e936";
}
.ico-arrow-forward:before {
  content: "\e93b";
}
.ico-check3:before {
  content: "\e93d";
}
.ico-menu2:before {
  content: "\e94b";
}
.ico-more-horiz:before {
  content: "\e94c";
}
.ico-more-vert:before {
  content: "\e94d";
}
.ico-circle-plus:before {
  content: "\e040";
}
.ico-circle-minus:before {
  content: "\e041";
}
.ico-circle-check:before {
  content: "\e042";
}
.ico-circle-cross:before {
  content: "\e043";
}
.ico-arrow-left:before {
  content: "\e094";
}
.ico-arrow-right:before {
  content: "\e095";
}
.ico-arrow-up:before {
  content: "\e096";
}
.ico-arrow-down-long:before {
  content: "\e097";
}
.ico-plus:before {
  content: "\e114";
}
.ico-minus:before {
  content: "\e115";
}
.ico-check:before {
  content: "\e116";
}
.ico-cross:before {
  content: "\e117";
}
.ico-menu:before {
  content: "\e120";
}
.ico-ellipsis:before {
  content: "\e129";
}
.ico-home:before {
  content: "\e904";
}
.ico-office:before {
  content: "\e909";
}
.ico-newspaper:before {
  content: "\e90b";
}
.ico-magazine:before {
  content: "\e90c";
}
.ico-pen:before {
  content: "\e927";
}
.ico-palette:before {
  content: "\e92a";
}
.ico-eyedropper:before {
  content: "\e932";
}
.ico-droplet:before {
  content: "\e934";
}
.ico-color-clear:before {
  content: "\e937";
}
.ico-gall-images:before {
  content: "\e93e";
}
.ico-image:before {
  content: "\e93f";
}
.ico-images:before {
  content: "\e940";
}
.ico-camera:before {
  content: "\e944";
}
.ico-headset:before {
  content: "\e949";
}
.ico-music:before {
  content: "\e94a";
}
.ico-piano:before {
  content: "\e953";
}
.ico-clapboard-play:before {
  content: "\e959";
}
.ico-media:before {
  content: "\e95b";
}
.ico-movie:before {
  content: "\e95d";
}
.ico-video-camera:before {
  content: "\e962";
}
.ico-bullhorn:before {
  content: "\e979";
}
.ico-new:before {
  content: "\e97b";
}
.ico-connection:before {
  content: "\e97c";
}
.ico-station:before {
  content: "\e982";
}
.ico-bookmark:before {
  content: "\e994";
}
.ico-archive:before {
  content: "\e996";
}
.ico-folder:before {
  content: "\e9d0";
}
.ico-folder-close:before {
  content: "\e9db";
}
.ico-folder-open:before {
  content: "\e9dc";
}
.ico-folder-closed:before {
  content: "\e9e7";
}
.ico-folder-open2:before {
  content: "\e9e8";
}
.ico-certificate:before {
  content: "\e9eb";
}
.ico-cc:before {
  content: "\e9ec";
}
.ico-price-tag:before {
  content: "\e9ed";
}
.ico-lifebuoy:before {
  content: "\ea1b";
}
.ico-phone:before {
  content: "\ea1c";
}
.ico-phone-plus:before {
  content: "\ea20";
}
.ico-address-book:before {
  content: "\ea2b";
}
.ico-at-sign:before {
  content: "\ea2f";
}
.ico-pushpin:before {
  content: "\ea36";
}
.ico-push-pin:before {
  content: "\ea37";
}
.ico-location-pointer:before {
  content: "\ea3a";
}
.ico-location-pin:before {
  content: "\ea3c";
}
.ico-direction:before {
  content: "\ea4a";
}
.ico-alarm:before {
  content: "\ea53";
}
.ico-alarm-check:before {
  content: "\ea55";
}
.ico-bell:before {
  content: "\ea58";
}
.ico-bells:before {
  content: "\ea59";
}
.ico-bell-minus:before {
  content: "\ea5b";
}
.ico-bell-check:before {
  content: "\ea5c";
}
.ico-bell-cross:before {
  content: "\ea5d";
}
.ico-printer:before {
  content: "\ea65";
}
.ico-shredder:before {
  content: "\ea68";
}
.ico-mouse:before {
  content: "\ea69";
}
.ico-display-monitor:before {
  content: "\ea73";
}
.ico-laptop:before {
  content: "\ea74";
}
.ico-mobile:before {
  content: "\ea75";
}
.ico-mobile-smart:before {
  content: "\ea76";
}
.ico-tablet:before {
  content: "\ea77";
}
.ico-drawer-out:before {
  content: "\ea7e";
}
.ico-drawer-in:before {
  content: "\ea7f";
}
.ico-download:before {
  content: "\ea84";
}
.ico-upload:before {
  content: "\ea85";
}
.ico-floppy-disk:before {
  content: "\ea86";
}
.ico-bubbles:before {
  content: "\eac2";
}
.ico-bubbles-solid:before {
  content: "\eac3";
}
.ico-bubbles-line:before {
  content: "\eac5";
}
.ico-bubbles-lines:before {
  content: "\eac6";
}
.ico-user:before {
  content: "\eaf4";
}
.ico-users:before {
  content: "\eaf5";
}
.ico-user-plus:before {
  content: "\eaf6";
}
.ico-user-minus:before {
  content: "\eaf7";
}
.ico-user-cancel:before {
  content: "\eaf8";
}
.ico-user-block:before {
  content: "\eaf9";
}
.ico-user-lock:before {
  content: "\eafa";
}
.ico-user-check:before {
  content: "\eafb";
}
.ico-users-double:before {
  content: "\eafc";
}
.ico-users-more:before {
  content: "\eb09";
}
.ico-hour-glass3:before {
  content: "\eb1e";
}
.ico-spinner-dot:before {
  content: "\eb1f";
}
.ico-spinner-circle:before {
  content: "\eb20";
}
.ico-binoculars:before {
  content: "\eb2c";
}
.ico-search:before {
  content: "\eb30";
}
.ico-hammer-wrench:before {
  content: "\eb66";
}
.ico-magic-wand:before {
  content: "\eb6a";
}
.ico-aid-kit:before {
  content: "\eb6e";
}
.ico-stethoscope:before {
  content: "\eb70";
}
.ico-ambulance:before {
  content: "\eb71";
}
.ico-bug:before {
  content: "\eb75";
}
.ico-traffic-lights:before {
  content: "\eb7c";
}
.ico-stats-bars:before {
  content: "\eb85";
}
.ico-pie-chart:before {
  content: "\eb86";
}
.ico-chart:before {
  content: "\eb8c";
}
.ico-stats-growth:before {
  content: "\eb8d";
}
.ico-stats-decline:before {
  content: "\eb8e";
}
.ico-podium:before {
  content: "\eb9a";
}
.ico-medal-star:before {
  content: "\eb9c";
}
.ico-medal:before {
  content: "\eb9d";
}
.ico-trophy:before {
  content: "\eba4";
}
.ico-trophy-star:before {
  content: "\eba5";
}
.ico-gift:before {
  content: "\eba9";
}
.ico-gift-pack:before {
  content: "\ebaa";
}
.ico-hamburger:before {
  content: "\ebbf";
}
.ico-lab:before {
  content: "\ebe7";
}
.ico-bin:before {
  content: "\ebfa";
}
.ico-briefcase:before {
  content: "\ebff";
}
.ico-airplane:before {
  content: "\ec02";
}
.ico-paperplane:before {
  content: "\ec06";
}
.ico-bus:before {
  content: "\ec0b";
}
.ico-truck:before {
  content: "\ec0c";
}
.ico-train:before {
  content: "\ec0f";
}
.ico-ship:before {
  content: "\ec11";
}
.ico-puzzle:before {
  content: "\ec1c";
}
.ico-brain:before {
  content: "\ec24";
}
.ico-power-cord:before {
  content: "\ec4a";
}
.ico-clipboard:before {
  content: "\ec52";
}
.ico-lan:before {
  content: "\ec64";
}
.ico-anchor:before {
  content: "\eca0";
}
.ico-flag:before {
  content: "\eca1";
}
.ico-flag-label:before {
  content: "\eca7";
}
.ico-eye:before {
  content: "\ecab";
}
.ico-eye-blocked:before {
  content: "\ecae";
}
.ico-umbrella:before {
  content: "\ecd2";
}
.ico-vector:before {
  content: "\ee7c";
}
.ico-font-size:before {
  content: "\ee8e";
}
.ico-typography:before {
  content: "\ee8f";
}
.ico-spinner:before {
  content: "\e602";
}
