/*
 * Skin: Yellow
 * ------------
 */
.skin-blue .main-header .navbar {
  background-color: #0667D6;
}
.skin-blue .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #055bbd;
}
@media (max-width: 767px) {
  .skin-blue .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-blue .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-blue .main-header .navbar .dropdown-menu li a:hover {
    background: #e08e0b;
  }
}
.skin-blue .main-header .logo {
  background-color: #055bbd;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue .main-header .logo:hover {
  background-color: #055bbd;
}
.skin-blue .main-header li.user-header {
  background-color: #f39c12;
}
.skin-blue .content-header {
  background: transparent;
}
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background-color: #222d32;
}
.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
  color: #fff;
}
.skin-blue .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-blue .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #0667D6;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-blue .sidebar a {
  color: #b8c7ce;
}
.skin-blue .sidebar a:hover {
  text-decoration: none;
}
.skin-blue .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-blue .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-blue .sidebar-form input[type="text"],
.skin-blue .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-blue .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-blue .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-blue .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}

/* Overide Btn Class Default */

/* btn-default */
.btn-default {
  color: #737373;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}
.btn-default:hover,
.btn-default:active,
.btn-default.hover {
  color:#737373!important;
  background-color:#d9d9d9!important;
  border-color:#d9d9d9!important;
}

/* btn-primary */
.btn-primary {
  color: #FFF;
  background-color: #0667D6;
  border-color: #0667D6;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
  color:#FFF!important;
  background-color:#055bbd!important;
  border-color:#055bbd!important;
}

/* btn-success */
.btn-success {
  color: #FFF;
  background-color: #17A88B;
  border-color: #17A88B;
}
.btn-success:hover,
.btn-success:active,
.btn-success.hover {
  color:#FFF!important;
  background-color:#149278!important;
  border-color:#149278!important;
}

/* btn-info */
.btn-info {
  color: #FFF;
  background-color: #0FB3FF;
  border-color: #0FB3FF;
}
.btn-info:hover,
.btn-info:active,
.btn-info.hover {
  color:#FFF!important;
  background-color:#00a7f5!important;
  border-color:#00a7f5!important;
}

/* btn-danger */
.btn-danger {
  color: #FFF;
  background-color: #E5343D;
  border-color: #E5343D;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.hover {
  color:#FFF!important;
  background-color:#e21d27!important;
  border-color:#e21d27!important;
}

/* btn-warning */
.btn-warning {
  color: #FFF;
  background-color: #FFB61E;
  border-color: #FFB61E;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.hover {
  color:#FFF!important;
  background-color:#ffae04!important;
  border-color:#ffae04!important;
}

.content-wrapper, .right-side {
    background-color: #E5E5E5;
}

.bg-blue {
  background-color: #0667D6 !important;
}

/* Overide modal-header */
.modal-header {
  background-color: #0667D6;
  color: #ffffff;
}

/* Overide Toastr color */
.toast {
  background-color: #030303;
}
/* custom toastr success */
.toast-success {
  background-color: #00cb18;
}
/* custom toastr error */
.toast-error {
  background-color: #ef4836;
}
/* custom toastr info */
.toast-info {
  background-color: #4b8df8;
}
/* custom toastr warning */
.toast-warning {
  background-color: #ffb848;
}

/* is Deleted */
tr.delete td {
  text-decoration : line-through;
  color : red; display: none;
}

/* Table Hover */
.table-hover > tbody > tr:hover {
  background-color: #d2d6de;
}

.table > thead > tr > th  {
  border-bottom: 2px solid #d2d6de;
}

.table > tbody > tr > td  {
  border-bottom: 1px solid #d2d6de;
}

.form-group {
    margin-bottom: 5px;
}

.logout{
    background-color: red;
    color: #fff;
}

.main-footer p {
  margin-bottom: -2px;
}

.table {
    border: 1px solid #d2d6de;
}
.table > thead > tr {
  background-color: #f9f9f9;
  border-bottom: 2px solid #d2d6de;
}
.table > thead > tr > th {
  text-transform: uppercase;
  vertical-align: middle;
}
.table > thead > tr > th, .table > tbody > tr > td {
    /*border: 1px solid #d2d6de;*/
}

.table > thead > tr > th.sorting {
  cursor: pointer;
}

.table > thead > tr > th.sort_asc {
  background-image: url(../img/sort_asc.png);
  background-repeat: no-repeat;
  background-position: center right;
}
.table > thead > tr > th.sort_desc {
  background-image: url(../img/sort_desc.png);
  background-repeat: no-repeat;
  background-position: center right;
}
.table > thead > tr > th.sort_both {
  background-image: url(../img/sort_both.png);
  background-repeat: no-repeat;
  background-position: center right;
}


/* return to top */
#return-to-top {
    z-index: 10000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0667d6;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 19px;
    top: 15px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #ff0000;
}
#return-to-top:hover i {
    color: #fff;
}

.panel {
  border-radius: 0;
}
.panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-primary > .panel-heading {
    background-color: #0667d6;
    border-color: #0667d6;
    font-weight: bold;
}