.beige-dk{
	background-image: url(../img/cover.jpg);
}

@media (max-width: 1024px) {
	.wow {
		visibility: visible !important;
		-webkit-animation-delay: 0 !important;
		animation-delay: 0 !important;
	}
	.animated {
		-webkit-animation-duration: 0;
		-moz-animation-duration: 0;
		-ms-animation-duration: 0;
		-o-animation-duration: 0;
		animation-duration: 0;
		-webkit-animation-fill-mode: none;
		-moz-animation-fill-mode: none;
		-ms-animation-fill-mode: none;
		-o-animation-fill-mode: none;
		animation-fill-mode: none;
	}
}

.navbar .nav > li > span {
	font-family: 'Lato', sans-serif;
	font-style: italic;
	margin-left: 4px;
	margin-right: 3px;
	text-transform: none;
	position: relative;
	top: -1px;
}

@media (min-width: 768px) {

}

/* Vertical aligning */
.vertical-align {
	display: table;
}
.center-me {
	display: table-cell;
	vertical-align: middle;
}

.navbar {
	position: fixed;
	top:0;
	border:1px solid #ccc;
}
.navbar .nav {
	width:100%;
	height:60px;
	padding-left:250px;
}
.navbar .nav > li {
	float:none;
	display:inline-block;
}
.navbar .nav > li > span {
	font-size: 12px
}
.navbar .nav > li a:hover {
	background-color: transparent;
}
.nav>li>a:hover,
.nav>li>a:focus {
	background-color: transparent;
}
.navbar .nav > li > a {
	display: block;
	padding:0px 10px;
	margin:23px 0px;
	color: #fff;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	text-transform: none;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	text-shadow: none;
	border-right:1px solid #aaa;
}
.navbar .nav li.nolink {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: #eee;
    font-weight: bold;
    text-shadow: none;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: none;
    font-size: 14px;
    margin: 27px 0px;
    border-right: 1px solid #aaa;
    padding: 0px 10px;
}
nav i.icon-basic-eye {
	font-size: 20px;
	line-height: 0;
	margin: 0;
	display: inline-block;
	position: relative;
	top: 5px;
	margin-right: 5px;
}
.navbar-inner {
	background-color: #015579 ;
	height: 70px;
	position: fixed;
	top: 20px;
	width: 100%;
	border:none;
	border-bottom: none;

}
.navbar-up {
	background-color: #0090cc ;
	height: 20px;
	color: #fff;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	position: fixed;
	top: 0;
	width: 100%;
	border:none;
	border-bottom: none;	
	
}
#blog-post .navbar-inner {
	background-color: #fff;
	background-color: rgba(255,255,255,.9);
}
.lightnav .navbar-inner.lightnav-alt .nav > li > a,
.lightnav .navbar-inner.lightnav-alt .learnmore {
	color: #fff;
}
/* Changes nav background color to white on scroll */
.navbar-inner.lightnav-alt {
	background-color: #015579 ;
    background-color: #015579
}
@media (max-width: 1080px) {
	.navbar-inner.lightnav-alt {
		border-bottom: none;
	}
	.navbar-inner {
		border-bottom: none !important;
	}
}
/* Continue Navigation... */
.navbar .nav > li:last-child > a,
.navbar .nav > li:last-child {
	border-right:none;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:active {
	color:#777;
}
@media only screen and (max-width: 1024px) {
	.navbar-inner {
		padding:0!important;
		height:60px;
	}

	.navbar nav {
		display: none
	}
}

@media (max-width:767px) {

}
button.menu-icon {
	position: fixed;
	right: 30px;
	top: 30px;
	margin-top: 0;
	z-index: 2050;
	padding: 0;
	color: #fff;
	background: #015579;
	outline: #015579;
	display: block;
	cursor: pointer;
}
button.navbar-toggle {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-bottom: 0;
	margin-right: 0;
}

.menu-icon .before, .menu-icon .main, .menu-icon .after {
	display: block;
	width: 25px;
	height: 2px;
}
/* Button Hover */
.menu-icon:hover .before,
html.sb-init.sb-active.sb-active-right .menu-icon .before {
	-webkit-transform: translateY(-2px);
	   -moz-transform: translateY(-2px);
		-ms-transform: translateY(-2px);
		 -o-transform: translateY(-2px);
			transform: translateY(-2px);
}
.menu-icon:hover .after,
html.sb-init.sb-active.sb-active-right .menu-icon .after {
	-webkit-transform: translateY(2px);
	   -moz-transform: translateY(2px);
		-ms-transform: translateY(2px);
		 -o-transform: translateY(2px);
			transform: translateY(2px);
}


button.navbar-toggle .icon-bar {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: #fff;
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
}
html.sb-init.sb-active.sb-active-right,
html.sb-init.sb-active.sb-active-right #featured a,
html.sb-init.sb-active.sb-active-right ul.filters li p,
html.sb-init.sb-active.sb-active-right #projects .filter-item div a {
	cursor: e-resize;
}

	.sb-close {
    text-align: right;
    cursor: pointer;
    position: absolute;
    right: 0;

}
.sb-close img{
	padding: 10px 16px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	-khtml-opacity: .6;
	-moz-opacity: .6;
	opacity: .6;
}
.sb-close img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}
.sb-slidebar {
	background-color: solid transparent; /* Background colour. */
	background-color: #015579; /* Background colour. */
	color: #666; /* Text colour. */
	font-weight: 700;
	font-size: 14px;
	cursor: default;
	right: -3px;
	overflow-y: auto;
	overflow-x: hidden;
}
.sb-slidebar a {
	color: #666; /* Link colour. */
	text-decoration: none;
	font-weight: 700;
	text-transform: none;
	font-size: 13px
}
.sb-slidebar a:hover {
	color: #fff; /* Link hover colour. */
}
/* Off-canvas menu items */
.sb-menu {
	padding: 34px 34px 24px;
	margin: 0;
	list-style-type: none;
}
.sb-menu li {
	width: 100%;
	padding: 0;
	margin: 0;
	color: #666;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	font-family: 'Lato', cursive;
}
.sb-menu > li:first-child {
	border-top: none; /* Removes top border from first list item.. */
}
.sb-menu > li:last-child {
	border-bottom: none; /* Removed bottom border from last list item. */
}
.sb-menu li a {
	font-family: 'Lato', cursive;
	width: 100%; /* Makes links full width. */
	display: inline-block;
	font-weight: 600;
	font-style: normal;
	color: #666;
	cursor: pointer;
	line-height: 20px;
	padding: 3px 10px; /* Creates an even padding the same size as your font. */
}
.sb-menu li a:hover {
	text-decoration: none !important;
}
/* Borders */
.sb-right .sb-menu li a {
	border-left: 3px solid transparent;
}
.sb-right .sb-menu li a:hover {
	border-left: 3px solid; /* Removes transparent colour, so border colour will be the same as link hover colour. */
}
/* Sb Dropdown */
li.sb-toggle-submenu {
	font-weight: 600;
	text-transform: none;
	font-size: 13px;
	border-left: 3px solid transparent;
	padding: 3px 10px;
	cursor: pointer;
	font-family: 'Lato', cursive;
}
li.sb-toggle-submenu:hover {
	color: #fff; /* Link hover colour. */
	border-left: 3px solid #fff; /* Removes transparent colour, so border colour will be the same as link hover colour. */
}
ul.sb-submenu li a,
ul.sb-submenu li a:hover {
	text-transform: none;
	font-weight: 400;
}
.sb-submenu {
	display: none;
	padding: 10px 10px 16px;
	margin: 0;
	list-style-type: none;
}
/* Submenu parent item caret */
span.sb-caret {
	width: 0;
	height: 0;
	display: inline-block;
	margin: 0 5px;
	border: 5px solid transparent;
}
span.sb-caret { /* Caret Down */
	border-top: 5px solid;
	border-bottom: 0px solid transparent;
}
.sb-submenu-active > span.sb-caret { /* Caret Up */
	border-top: 0px solid transparent;
	border-bottom: 5px solid;
}
/* Secondary menu-items block, (different text styling) */
.sb-menu.secondary {
	padding: 24px 34px;
}
.sb-menu.secondary a {
	text-transform: none;
	font-weight: 400;
}
@media (max-width:991px) {
	.title-emphasis {
		text-align: left;
	}
}

/* *******************************************************
* Full-height hero section, (homepage, above the fold,)
******************************************************* */
#hero {
	height: 100%;
	position: fixed;
	width: 100%;
	padding-top: 0;
}
#hero h2 {
	color: #151515;
	margin-bottom: 20px;
	display: inline-block;
	padding: 14px;
}
#hero p {
	color: #333;
	font-family: 'Lato', cursive;
	font-size: 18px;
	font-style: italic;
	display: inline-block;
}
@media (max-width:1024px) {
	#hero {
		position: relative;
	}
	#hero .element-img {
		background-attachment: scroll !important
	}
	.heightblock {
		display: none
	}
}
@media (max-width:767px) {
	#hero p {
		display: none
	}
}
/********************************************************/
/* Video Hero                                           */
/********************************************************/

#videohero {
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	padding-top: 0;
}

@media (min-width:1025px) {
  #videohero {
    display: block;
  }
}

#fallback {
  display: none;
}

@media (max-width:1024px) {
  #fallback {
    display: block;
    padding-top: 0;
  }
}

.wallpapered { background: #eee; margin: 0 0 20px; padding-top: 50%; width: 100%; }
.wallpapered.square { padding-top: 100%; }
.wallpapered.bar { margin: -25px 0; }

#videohero h2,
#fallback h2 {
	color: #151515;
	margin-bottom: 20px;
	display: inline-block;
	padding: 14px;
}
#videohero p,
#fallback p {
	color: #333;
	font-family: 'Lato', cursive;
	font-size: 18px;
	font-style: italic;
	display: inline-block;
}
@media (max-width:1024px) {
	#videohero {
		position: relative;
	}
	#videohero .element-img {
		background-attachment: scroll !important
	}
	.heightblock {
		display: none
	}
}
@media (max-width:767px) {
	#videohero p,
	#fallback p {
		display: none;
	}
}
/* *******************************************************
* Page Header
******************************************************* */
#page-header {
	height: 400px;
	padding-top: 0;
}
#page-header h2 {
	color: #151515;
	margin-bottom: 20px;
}
#page-header .col-md-8.col-md-offset-2 {
	height:400px;
	z-index: 3;
}

/* *******************************************************
* Simple Header (privacy-policy.html, terms-conditions.html etc)
******************************************************* */
#simple-header h2 {
	padding-top: 50px;
}
#simple-header p {
	padding-bottom: 50px
}

/* *******************************************************
* Page Content
******************************************************* */
#page-content {
	padding-top: 60px;
	padding-bottom: 60px
}

/* *******************************************************
* Titleblock, (all pages)
******************************************************* */
.titleblock {
	padding-bottom: 60px;
	text-align: center;
}

.titleblock h1,
.titleblock h2,
.titleblock h3,
.titleblock h4,
.titleblock h5,
.titleblock h6 {
	color: #151515;
	margin-bottom: 20px;
	text-transform: none;
}

.titleblock p {
	color: #333
}

.titleblock i {
	color: #333;
	font-size: 40px;
}

/* *******************************************************
* Blog, (blog.html)
******************************************************* */
#blog article h3 {
	margin-bottom: 35px;
}
#blog .content p {
	margin: 10px 0 30px;
}
#blog article img {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
}
#blog article img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	-khtml-opacity: .85;
	-moz-opacity: .85;
	opacity: .85;
}
#blog .pager {
	padding: 20px 0 0;
}
#blog .pager li > a:hover,
#blog .pager li > a:focus {
	background-color: transparent;
	text-decoration: underline;
}
#blog .pager li.disabled > a:hover,
#blog .pager li.disabled > a:focus {
	text-decoration: none;
}
#blog .pager li > a, .pager li > span {
	border: none;
	padding: 0;
}
#blog .pager li > a {
	font-family: 'Lato', cursive;
	color: #151515;
	font-weight: 400;
}
/* Subscribe section, (blog.html) */
#blog #subscribe i {
	font-size: 40px;
	margin-right: 10px;
	margin-left: -60px;
	position: relative;
	top: 3px;
}
#blog #subscribe p {
	font-family: 'Lato', cursive;
	font-style: italic;
	padding-left: 60px;
	margin-bottom: 20px;
	line-height: 22px;
}
#blog h6.readmore {
	margin-left: 10px;
}
#blog #subscribe form#mc-form {
	margin: 30px auto;
	clear: both;
}
#blog #subscribe label.status {
	display: block;
	text-align: center;
	clear: both;
	margin: 40px auto;
	float: left;
	width: 100%;
}
#blog #subscribe label.status img {
	padding-right: 5px;
	top: -1px;
	position: relative;
}
#blog #subscribe button.signup {
	background-color: #151515;
	color: #fff;
	float: right;
	width: 27%;
	margin-left: 3%;
	padding: 15px 18px;
}
#blog #subscribe button.signup:focus,
#blog #subscribe button.signup:active,
#blog #subscribe button.signup:visited {
	color: #fff;
}
#blog #subscribe #mc-email.form-control {
	width: 70%;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #999;
	float: left;
	padding: 25px;
}
@media (max-width: 768px) {
	#blog #subscribe #mc-email.form-control {
		width: 100%;
	}
	#blog #subscribe button.signup {
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
	}
}

/* *******************************************************
* Blog post header, (post.html)
******************************************************* */
#blog-post #page-header {
	margin-top: 61px;
}
#blog-post .avatar img {
	position: absolute;
	bottom: 50px;
	width: 90px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 3px solid rgba(255,255,255,.2);
}
#blog-post .author {
	font-family: 'Lato', cursive;
	font-style: italic;
	position: absolute;
	bottom: 75px;
	color: #fff;
	font-size: 15px;
	left: 100px;
	padding: 4px 20px;
}
#blog-post p.excerpt {
	font-family: 'Lato', cursive;
	font-style: italic;
	font-size: 15px;
	margin-top: 25px;
}
#blog-post #related {
	padding-top: 0;
}
#blog-post #related .readon:before {
	bottom: -40px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: #88b7d5;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #f7f7f7;
	border-width: 20px;
	margin-left: -20px;
	z-index: 2;
}
#blog-post #related .readon i {
	padding: 20px 0;
	font-size: 40px;
	display: block;
	color: #151515;
}
#blog-post .related-left a,
#blog-post .related-left img {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
#blog-post .related-right a,
#blog-post .related-right img {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
@media (min-width: 768px) {
	#blog-post .related-left a,
	#blog-post .related-left img {
		-webkit-border-radius: 4px 0 0 4px;
		-moz-border-radius: 4px 0 0 4px;
		border-radius: 4px 0 0 4px;
	}
	#blog-post .related-right a,
	#blog-post .related-right img {
		-webkit-border-radius: 0 4px 4px 0;
		-moz-border-radius: 0 4px 4px 0;
		border-radius: 0 4px 4px 0;
	}
}
#blog-post a.readmore {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 70px;
	display: block;
	background-color: #000;
	background-color: rgba(000, 000, 000, .5);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transition: background-color .3s ease-out;
	-moz-transition: background-color .3s ease-out;
	-o-transition: background-color .3s ease-out;
	transition: background-color .3s ease-out;
}
#blog-post a.readmore:hover {
	background-color: #444;
	background-color: rgba(000, 000, 000, .7);
}
#blog-post a.readmore span {
	color: #fff;
	font-size: 18px;
	font-family: 'Lato', cursive;
	text-transform: none;
	font-weight: 400;
	text-transform: none;
	position: relative;
}
@media (max-width:991px) {
	#blog-post a.readmore {
		padding: 40px;
	}
}
@media (max-width:767px) {
	#blog-post a.readmore {
		padding: 20px;
	}
}
#blog-post .comments {
	margin-top: 60px;
}

/* Social Sharrres plugin */
#blog-post #social {
	margin-bottom: 10px;
}
#blog-post .published {
	clear: both;
}
#blog-post .published p {
	font-family: 'Lato', cursive;
	font-size: 14px;
	font-style: italic;
	color: #151515;
}
#blog-post .sharrre{
	display: inline-block;
	float: left;
}
#blog-post .sharrre .box{
	float:left;
	margin-right: 6px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 0 3px;
}
#blog-post #twitter.sharrre .box {
	background-color: #55acee;
}
#blog-post #facebook.sharrre .box {
	background-color: #49659F;
}
#blog-post #googleplus.sharrre .box {
	background-color: #DD4B39;
}
#blog-post .sharrre .box:active,
#blog-post #facebook .box:active,
#blog-post #googleplus .box:active {
	margin-top:4px;
}
#blog-post .sharrre .count, #blog-post .sharrre .share{
	display:inline-block;
}
#blog-post .sharrre .count{
	font-size:13px;
	margin-right: 4px;
	padding-left: 5px;
	color:#fff;
	position:relative;
}
#blog-post .sharrre .share{
	font-size:13px;
	color: #fff;
	padding-right: 5px;
}
#blog-post .sharrre .share span{
	display: inline-block;
}

/* *******************************************************
* Blog post comments, Boostrap style, (not Disqus)
******************************************************* */
#comments-tb .login {
    position: absolute;
    top: -3px;
    right: 0;
}
#comments-tb .tab-content>.tab-pane {
	padding: 20px 0;
}
#comments-tb .page-header {
	position: relative;
	margin: 40px 0;
}
#comments-tb .reviews {
    margin: 10px auto 20px;
}
#comments-tb .media .media-object { max-width: 60px; }
#comments-tb .media-body { position: relative; }
#comments-tb .media-date {
    position: absolute;
    right: 25px;
    top: 15px;
}
#comments-tb .media-date li {
	font-size: 12px;
	font-weight: 600;
}
#comments-tb .media-date li { padding: 0; }
#comments-tb .media-date li:first-child:before { content: ''; }
#comments-tb .media-date li:before {
    content: '.';
    margin-left: -2px;
    margin-right: 2px;
}
#comments-tb .media-comment { margin-bottom: 20px; }
#comments-tb .media-replied { margin: 0 0 20px 50px; }
#comments-tb .media-replied .media-heading { padding-left: 6px; }

#comments-tb .btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
}
#comments-tb .btn-circle span { padding-right: 6px; }
#comments-tb .embed-responsive { margin-bottom: 20px; }
#comments-tb .tab-content {
    padding: 0;
    border: none;
    border-top: 0;
}
#comments-tb .well {
	background-color: #F7F7F7;
}
#comments-tb .well p {
	color: #666;
}
#comments-tb .form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	background-color: #F7F7F7;
}
#comments-tb .form-horizontal .control-label {
	text-align: left;
}
#comments-tb .nav-tabs {
	border-bottom: none;
}
#comments-tb .nav-tabs>li>a {
	border: none;
}
#comments-tb .nav-tabs>li {
	margin-bottom: 0;
}
#comments-tb .nav>li>a {
	padding: 10px 20px 10px 0;
}
#comments-tb .nav-tabs>li.active>a,
#comments-tb .nav-tabs>li.active>a:focus,
#comments-tb .nav-tabs>li.active>a:hover {
	border: none;
}
/* *******************************************************
* Featured companies section, (homepage)
******************************************************* */
#companies {
	padding: 10px 0;
	background-color: #F9F9F9
}
#companies .col-xs-2 {
	padding: 0;
}

/* *******************************************************
* Featured work section, (homepage & portfolio pages)
******************************************************* */
#featured {
	padding-bottom: 7px;
	background-color: #fff;
	color: #151515;
	z-index: 4;
}
#featured .title {
	font-style: normal;
	font-size: 24px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: 1px;
	display: block;
	line-height: 32px;
	color: #fff;
	margin-bottom: 15px;
}
#featured .byline {
	font-size: 18px;
	color: #eee;
	position: absolute;
	bottom: 60px;
	font-style: italic;
	font-family: 'Lato', cursive;
	margin-right: 60px;
}
hr.byline-accent {
	height: 3px;
	width: 30px;
	background: #eee;
	border-top: none;
	margin: 0 auto 0 0;
}
#featured a.meta {
	width: 100%;
	height: 436px;
	padding: 60px;
	display: block;
	background-color: transparent;
	background-color: rgba(000, 000, 000, .5);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transition: background-color .3s ease-out;
	-moz-transition: background-color .3s ease-out;
	-o-transition: background-color .3s ease-out;
	transition: background-color .3s ease-out;
}
#featured a.meta:hover {
	background-color: rgba(000, 000, 000, .7);
}
@media (max-width:768px) {
	#featured .title {
		font-style: normal;
		line-height: 30px;
		text-align: left;
		color: #e3e3e3;
		margin-bottom: 5px;
	}
	#featured .view {
		font-style: normal;
		text-transform: none;
		font-size: 12px;
		text-align: left;
		color: #151515;
	}
	#featured a.meta {
		padding-left: 25px;
		padding-top: 25px;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.0);
		background-image: -webkit-linear-gradient(top left, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.0) 100%);
		background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #000000), color-stop(1, #000000));
		background-image: -moz-linear-gradient(top left, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.0) 100%);
		background-image: -ms-linear-gradient(top left, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.0) 100%);
		background-image: -o-linear-gradient(top left, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.0) 100%);
		background-image: linear-gradient(to bottom right, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.0) 100%);
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		-khtml-opacity: 1;
		-moz-opacity: 1;
		opacity: 1;
	}
	#featured .byline {
		bottom: 30px;
	}
	#featured a.meta:hover {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		-khtml-opacity: 1;
		-moz-opacity: 1;
		opacity: 1;
	}
}
#featured .row {
	margin-right: -22px;
	margin-left: -22px;
}
#featured .featured-item {
	padding: 0px;
	background-position: center center;
	background-color: #999;
	height:450px;
	background-repeat: no-repeat;
	border-width: 7px;
	border-style: solid;
	border-color: #fff;
}
@media (max-width:768px) {
	#featured .featured-item {
		height: 300px;
	}
}

/* *******************************************************
* Statement section, (homepage)
******************************************************* */
#statement {
	background-color: #fff;
	padding: 60px 0 20px;
}

#statement p {
	font-family: 'Lato', cursive;
	font-style: italic;
	font-size: 20px;
	color: #333;
}

#statement i {
	font-size: 40px;
	position: relative;
	top: 11px;
	margin-right: 10px;
}

/* *******************************************************
* Full-width image section, (all pages)
******************************************************* */

#fullwidth-img {
	height: 600px;
	background-color: #fff;
}
#fullwidth-img:before {
	top: 60px;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #fff;
	border-width: 20px;
	margin-left: -20px;
	z-index: 11;
}
@media (max-width:768px) {
	#fullwidth-img {
		height: 300px;
	}
}

/* *******************************************************
* Image fader/slider, (homepage)
******************************************************* */
.flexslider {
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	border: none;
	margin: 0;
}
.flex-control-nav {
	z-index: 3;
	bottom: 0px !important;
	right: 50%;
	text-align: right;
	bottom: inherit;
	width: auto;
	padding: 15px 15px 10px;
}
.slide-featured .flex-direction-nav a {
	width: 20%;
}
.flex-direction-nav a {
	width: 30%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	z-index: 10;
	cursor: none;
	text-indent: -9999px;
}
/* Left image cursor */
a.flex-prev {
   cursor: w-resize;
   cursor: url(../img/global/cursor-prev.png), auto;
}
/* Right image cursor */
a.flex-next {
	cursor: e-resize;
	cursor: url(../img/global/cursor-next.png), auto;
}
.flex-direction-nav a.flex-next:before,
.flex-direction-nav a.flex-prev:before {
	display: none;
	visibility: hidden;
}
.flex-caption {
	position: absolute;
	margin: auto;
	left: 0;
	bottom: 0;
}
@media (max-width:650px) {
	.flex-caption {
		display: none
	}
}
.flex-caption h4 {
	background-color: #151515;
	color: #fff;
	padding: 22px 30px;
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
	float: left;
}
.flexslider p {
	display: inline-block;
	background-color: #fff;
	color: #333;
	padding: 15px 30px;
	font-family: 'Lato', cursive;
	font-style: italic;
	margin-bottom: 0;
	float: left;
	clear: left;
}
.flex-control-paging li a {
	display: block;
	width: 16px;
	height: 16px;
	color: #fff;
	background: #fff;
	border: 2px solid #000;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	cursor: pointer;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.flex-control-paging li a.flex-active {
	background: #fff;
}

/* *******************************************************
* Process timelime, (homepage)
******************************************************* */

#process {
	padding: 80px 0;
	background-color: #fff;
}
#process .col-md-2 i {
	font-size: 50px;
	position: relative;
	top: 10px;
}
#process .timeline-centered {
    position: relative;
    margin-bottom: 30px;
}
#process .timeline-centered:before, #process .timeline-centered:after,
#process .timeline-centered:before, #process .timeline-centered:after {
	content: " ";
	display: table;
}
#process .timeline-centered:after {
	clear: both;
}
#process .timeline-centered:before {
	content: '';
	position: absolute;
	display: block;
	width: 4px;
	background: #f5f5f6;
	/*left: 50%;*/
	top: 50px;
	bottom: 50px;
	margin-left: 10px;
}
#process .timeline-centered .timeline-entry {
	position: relative;
	/*width: 50%;
	float: right;*/
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 10px;
	clear: both;
}
#process .timeline-centered .timeline-entry:before,
#process .timeline-centered .timeline-entry:after {
	content: " ";
	display: table;
}
#process .timeline-centered .timeline-entry:after {
	clear: both;
}
#process .timeline-centered .timeline-entry.begin {
	margin-bottom: 0;
}
#process .timeline-centered .timeline-entry.left-aligned {
	float: left;
}
#process .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
	margin-left: 0;
	margin-right: -18px;
}
#process .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
	left: auto;
	right: -100px;
	text-align: left;
}
#process span.number {
	font-family: 'Lato', cursive;
	font-style: italic;
	font-size: 20px;
	line-height: 0;
	color: #E7E7E5;
	position: relative;
	top: -4px;
}
#process .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
	float: right;
}
#process .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
	margin-left: 0;
	margin-right: 70px;
}
#process .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
	left: auto;
	right: 0;
	margin-left: 0;
	margin-right: -9px;
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.timeline-label p {
	font-family: 'Lato', cursive;
	font-style: italic;
	margin-bottom: 3px
}
#process .timeline-centered .timeline-entry .timeline-entry-inner {
	position: relative;
	margin-left: -20px;
}
#process .timeline-centered .timeline-entry .timeline-entry-inner:before,
#process .timeline-centered .timeline-entry .timeline-entry-inner:after {
	content: " ";
	display: table;
}
#process .timeline-centered .timeline-entry .timeline-entry-inner:after {
	clear: both;
}
#process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
	position: absolute;
	left: -100px;
	text-align: right;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
	display: block;
}
#process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
	font-size: 15px;
	font-weight: bold;
}
#process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
	font-size: 12px;
}
#process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
	background: #fff;
	color: #737881;
	display: block;
	width: 40px;
	height: 40px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
	border: 4px solid #F5F5F6;
	line-height: 40px;
	font-size: 15px;
	float: left;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	margin-left: -9px;
}
#process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
	background-color: #303641;
	color: #fff;
}
#process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
	position: relative;
	background: #eee;
	padding: 30px;
	margin-left: 60px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 9px 9px 0;
	border-color: transparent #eee transparent transparent;
	left: 0;
	top: 50%;
	margin-top: -9px;
	margin-left: -9px;
}
#process .line {
  position: absolute;
  display: block;
  width: 4px;
  background: #eee;
  top: -10%;
  right: -30px;
  height: 120%;
  bottom: -10%;
}
#process .present,
#process .born {
  font-size: 14px;
  font-family: 'Lato', cursive;
  font-style: italic;
  color: #333;
  padding: 10px;
  background-color: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#process .present:after,
#process .born:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #eee;
  border-width: 10px;
  margin-top: -10px
}
#process .present {
  position: absolute;
  top: -10%;
  right: 0;
  margin-top: -20px;
  line-height: 100%;
}
#process .born {
  position: absolute;
  bottom: -10%;
  right: 0;
  margin-bottom: -20px;
  line-height: 100%;
}
#process .dot_tp {
  position: absolute;
  top: -10%;
  right: -35px;
  background-color: transparent;
  height: 15px;
  width: 15px;
  margin-top: -13px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #eee;
}
#process .dot_bt {
  position: absolute;
  bottom: -10%;
  right: -35px;
  background-color: transparent;
  height: 15px;
  width: 15px;
  margin-bottom: -13px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #eee;
}
@media (max-width:768px) {
	#process .line {
		right: 10px;
	}
	#process .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
		margin-right: 30px;
		margin-left: 45px;
		padding: 20px;
	}
	#process .timeline-centered .timeline-entry {
		margin-right: 20px;
	}
	#process .dot_tp,
	#process .dot_bt {
		right: 5px;
	}
	#process .present,
	#process .born {
		right: 35px;
	}
}

/* *******************************************************
* Page tabs, (profile.html)
******************************************************* */
#pagetabs {
	padding: 40px 0 80px;
}
#pagetabs .credit h3 {
	margin-bottom: 40px;
	text-transform: none;
}
#pagetabs .page-nav {
	border-bottom: none;
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
	padding-left: 0;
}
ul.page-nav i {
	font-size: 50px;
	display: block;
	margin-bottom: 4px;
	color: #bbb;
}
#pagetabs .page-nav > li.active > a i,
.page-nav > li.active > a i:focus,
.page-nav > li.active > a i:hover {
	color: #151515;
}
#pagetabs .page-nav > li {
	border: none;
	display: inline-block;
	margin: 20px 0 10px;
	position: relative;
}
#pagetabs span.badge.jobs {
	background-color: #151515;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 4px 7px 3px;
	font-weight: 400;
	position: absolute;
	top: 0;
	right: 20px;
}
#pagetabs .page-nav > li > a {
	margin-right: 0;
	letter-spacing: 1px;
	font-size: 14px;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: none;
	color: #bbb;
	border: none;
}
#pagetabs .page-nav>li>a:hover{
	background-color: transparent;
	color: #111;
}
#pagetabs .page-nav>li>a:hover > i {
	color: #151515;
}
#pagetabs .page-nav > li.active > a {
	color: #111;
}
#pagetabs .page-nav > li > a:focus, .page-nav > li > a:hover {
	border: none;
}
#pagetabs .page-nav > li.active > a, .page-nav > li.active > a:focus, .page-nav > li.active > a:hover {
	background-color: transparent;
	border: none;
}
#pagetabs .tab-content {
	padding: 30px 0;
}
#pagetabs .page-nav,
#pagetabs .page-nav > li > a,
#pagetabs .page-nav > li:first-child > a,
.tabs-below .page-nav > li:first-child > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
#pagetabs .award {
	padding: 30px;
	background-color: #151515;
	height: 360px;
}
#pagetabs .award h4 {
	color: #fff;
	margin-bottom: 30px;
}
#pagetabs .award p {
	color: #aaa;
	text-transform: none;
}
@media (max-width:991px) {
	#pagetabs .award {
		padding: 30px;
		height: 345px;
	}
}
@media (min-width: 992px) {
	#pagetabs .award {
		height: 374px;
	}
}
@media (min-width: 1200px) {
	#pagetabs .award {
		height: 360px;
	}
}
@media (max-width:767px) {
	#pagetabs .award {
		padding: 30px;
		height: 100%;
	}
}

/* *******************************************************
* Values page, (values.html)
******************************************************* */
#values .value p {
	text-transform: none;
}
#values .partition i {
	font-size: 30px;
	position: relative;
	top: -15px;
}
#values .partition hr {
	margin-top: 0;
	margin-bottom: 0;
}
#values .value {
	margin-bottom: 80px;
}
#values .value h4 {
	line-height: 37px;
}

/* *******************************************************
* Team page, (team.html)
******************************************************* */
#team-members {
	padding-top: 0;
}
#team img {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#team h3 a {
	font-family: 'Lato', cursive;
	font-style: italic;
	text-transform: none;
}

/* *******************************************************
* Popovers, (all pages)
******************************************************* */
.popovers {
	cursor: help;
}
.popover {
	padding: 17px;
	background-color: #242424;
	border: none;
	width: 100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.popover.bottom >.arrow {
	display: none;
}
.popover-title {
	font-size: 14px;
	text-transform: none;
	font-family: 'Lato', cursive;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 400;
	line-height: 18px;
	background-color: transparent;
	border-bottom: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.popover-content {
	color: #aaa;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
}

/* *******************************************************
* Oveview, (homepage)
******************************************************* */
#overview .overview-img {
	height: 450px;
}
#overview .overview-text {
	height: 450px;
	background-color: #eee;
	padding: 80px;
}
#overview h4 {
	font-size: 25px;
}
#overview .overview-text p {
	font-family: 'Lato', cursive;
	font-style: italic;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* *******************************************************
* Services, (homepage)
******************************************************* */

#services {
	background-color: #FFF;
}
#services .services-intro {
	padding: 40px 15px 70px;
}
#services .boxes {
	padding-top: 50px;
}
#services .boxes .col-md-3,
#services .boxes .col-md-6 {
	padding: 15px;
}
#services .boxes i {
	font-size: 80px;
}
#services .partition i {
	font-size: 30px;
	position: relative;
	top: -15px;
}
#services .partition hr {
	margin-top: 0;
	margin-bottom: 0;
}

/* *******************************************************
* FAQ'S, (faq.html)
******************************************************* */
#leftcol {
	padding-top: 0
}
#leftcol .nav>li>a {
	color: #fff;
	padding: 16px 20px;
	font-family: 'Lato', cursive;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 400;
	text-transform: none;
}
#leftcol .nav>li {
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .3s;
	-ms-transition: all ease .3s;
	transition: all ease .3s;
}
#leftcol .nav>li.active {
	background-color: #333;
}
#leftcol .nav>li:hover {
	background-color: #333;
	border-left: 3px solid #666;
}
@media only screen and (max-width: 1024px) {
	#leftcol .nav>li:hover {
		background-color: #222;
		border-left: none;
	}
}
#leftcol .nav>li>.nav {
 	padding-top: 10px;
}
#leftcol .nav>li>a:hover,
#leftcol .nav>li>a:focus {
 	background-color: transparent;
}
/* hide sidebar sub menus by default */
#sidebar {
	z-index: 2;
	position: relative;
}
#sidebar.nav .nav {
 	display: none;
    font-size:12px;
}
#leftcol .affix-top,.affix{
  position: static;
}
@media (min-width: 992px) {
  #sidebar.affix-top {
    position: relative;
    margin-top: -47px;
    width:228px;
  }

  li.support:hover {
    border: none !important;
  }

  #sidebar.affix {
    position: fixed;
    top: 0;
    width:228px;
  }
}
.spacefix {
	padding-top: 101px;
	background-color: transparent !important;
}
@media (max-width: 992px) {
	.spacefix {
		padding-top: 25px
	}
}
#sidebar li.active {
  border:0 #666 solid;
}
#leftcol .nav>li {
  border-left-width: 3px;
  border-bottom: 1px solid #333;
  background-color: #222;
}
#leftcol .nav-stacked>li+li {
	margin-top: 0
}
/*--- FAQ's content ---*/
.help {
	height: 147px;
	padding: 10px 0;
	position: relative;
	z-index: 11;
	background-color: #f7f7f7;
}
@media (max-width: 768px) {
	.help {
		height: 100%
	}
}
.help .iconheight {
	height: 127px
}
.help a {
	background-color: #151515;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.help a:hover {
	background-color: #444;
}
.help i {
	color: #fff;
	font-size: 40px;
	line-height: 50px;
}
.help span {
	font-family: 'Lato', cursive;
	font-size: 13px;
	margin-bottom: 0;
	font-weight: 400;
	display: block;
	line-height: 16px;
	color: #ccc;
}
.help .row {
	margin-left: 0;
	margin-right: 0;
}

#faq-content .question-icon .col-xs-12.col-sm-2 {
	padding-top: 30px;
	text-align: center;
}
#faq-content .question-icon i {
	font-size: 50px;
	text-align: center;
}
#faq-content .question-icon h3 {
	margin-bottom: 0
}
#faq {
	padding: 0 0 80px;
}
#faq h3 {
	font-family: 'Lato', cursive;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 400;
	text-transform: none;
	margin-top: 10px;
	margin-bottom: 20px;
}
#faq .page-nav li a:focus,
#faq .panel-heading a:focus {
    outline: none;
}
#faq .panel-heading a,
#faq .panel-heading a:hover,
#faq .panel-heading a:focus {
    text-decoration: none;
    color: #777777;
}
#faq .panel-heading,
#faq .panel-body {
	padding: 15px 25px;
}
#faq .panel-heading:hover {
    background-color: #efefef;
}
#faq h4.panel-title {
	font-size: 14px;
	line-height: 34px;
	color: #151515
}
#faq .panel-faq .panel-heading .panel-title span {
    font-size: 13px;
    font-weight: normal;
    color: #151515
}
#faq .panel-default>.panel-heading {
	background-color: #fff;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top: none;
}
#faq .panel-group {
	margin-bottom: 50px;
}
#faq .panel-group .panel {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-ms-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}
#faq .panel-group .panel:hover {
	box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
}
#faq-content hr {
	border-top: 1px solid #151515
}
#faq .anchorpoint {
	width: 1px;
	height: 1px;
	position: absolute;
	background-color: transparent;
	margin-top: -86px;
}

/* *******************************************************
* FAQ'S, (faq.html)
******************************************************* */
#careers .panel {
	border-bottom: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom: 0;
}
#careers .panel-title {
	font-family: 'Lato', cursive;
	font-style: italic;
}
#careers .panel-title i {
	margin-left: 4px;
	font-size: 12px;
}
#careers .panel-heading {
	padding: 10px 0;
	border-bottom: none;
}
#careers .panel-body {
	padding: 15px 15px 15px 0;
}
#careers .panel-body ul {
	padding-left: 17px;
	margin: 20px 0;
}
#careers .panel-body li {
	list-style: circle;
	line-height: 28px;
}
#careers .apply {
	padding: 30px;
	background-color: #151515;
	height: 360px;
}
#careers .apply h4 {
	color: #fff;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 30px;
}
#careers .apply h5 a {
	color: #fff;
	position: absolute;
	bottom: 50px;
	font-size: 20px;
	margin-top: 20px;
	font-family: 'Lato', cursive;
	font-style: italic;
}
@media (max-width: 767px) {
	#careers .apply h5 a {
		position: relative;
		bottom: 100%;
	}
}
#careers .apply-meta {
	background-color: #151515;
	padding: 40px;
	margin-top: 15px;
}
#careers .apply-meta p {
	color: #aaa;
	text-transform: none;
}
@media (max-width:991px) {
	#careers .apply {
		padding: 30px;
		height: 345px;
	}
}
@media (min-width: 992px) {
	#careers .apply {
		height: 374px;
	}
}
@media (min-width: 1200px) {
	#careers .apply {
		height: 360px;
	}
}
@media (max-width:767px) {
	#careers .apply {
		padding: 30px;
		height: 100%;
	}
}

/* *******************************************************
* filter portfolio, (filter.html)
******************************************************* */
#projects .col-md-12 {
	padding-top: 0;
	padding-bottom: 0;
}
.sortlinks {
	display: table;
	margin: 0 auto;
	text-align: center;
}
#projects .filter-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	border: 6px solid #FFF;
	width:25%;
	margin:0;
	display:none;
	float:left;
	overflow:hidden;
}
#projects .filter-item-wrapper {
	position: relative;
	background: #666;
	cursor:pointer;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}
#projects .filter-item-wrapper:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	-khtml-opacity: .75;
	-moz-opacity: .75;
	opacity: .75;
}
#projects .filter-item .byline {
	width: 100%;
	height: 80px;
	cursor: default;
	display: table;
	margin-bottom: 20px;
}
#projects .filter-item .byline div  {
	position: relative;
	z-index:500;
	height: 100%;
	padding: 0 3px;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#projects .filter-item a {
	text-align: center;
	margin-bottom: 0
}
#projects .filter-item a {
	font-family: 'Lato', cursive;
	color: #151515;
	text-decoration: none;
	text-transform: none;
}
#projects .filter-item img {
	max-width:100%;
	position: relative;
}
@media only screen and (max-width: 767px) {
  #projects .filter-item {
    width:50%;
  }
}
ul.filters {
	margin: 40px 0 20px;
	padding: 0;
	float: left;
}
ul.filters li {
	float: left;
	display: inline;
}
ul.filters li p {
	display: block;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	padding: 0 10px 3px;
	color: #151515;
	margin-bottom: 0;
	border-bottom: 3px solid transparent;
	border-top: 3px solid transparent;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: none;
	cursor: pointer;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
}
ul.filters li p.active,
ul.filters li p:hover {
	color:#151515;
	border-bottom: 3px solid #151515;
}
@media (max-width:650px) {
	ul.filters li {
		display: block;
		margin-bottom: 10px;
		float: none;
	}
}

/* *******************************************************
* Portfolio item
******************************************************* */
#portfolio-item .item-meta {
	position: absolute;
	bottom: 60px;
	left: 80px;
	z-index: 3;
}
#portfolio-item .client p {
	font-family: 'Lato', cursive;
	font-style: italic;
}
#portfolio-item hr.client-accent {
	height: 4px;
	width: 40px;
	background: #eee;
	border-top: none;
	margin: 20px 0 30px auto;
}
@media (max-width:1024px) {
	#portfolio-item .client h3,
	#portfolio-item .client p {
		text-align: center;
	}
	#portfolio-item hr.client-accent {
		margin: 20px auto 30px auto;
	}
}
#portfolio-item .img-label {
	position: absolute;
	bottom: 15px;
	z-index: 2;
	color: #fff;
	background-color: #151515;
	padding: 5px 15px;
}
@media (max-width:767px) {
	#portfolio-item .img-label {
		display: none;
	}
}
#portfolio-item .thumbnail {
	padding: 0;
	margin-bottom: 0;
	border: none;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}
#portfolio-item .thumbnail:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	-khtml-opacity: .6;
	-moz-opacity: .6;
	opacity: .6;
}
#portfolio-item ul.photoblock {
	padding-left: 0
}
#portfolio-item ul.photoblock li {
	list-style: none;
	padding: 6px;
}
/* Style the popup lightbox */
#portfolio-item .lb-loader {
	top: 50%;
	left: 50%;
}
#portfolio-item .lb-outerContainer {
	background-color: transparent;
}
#portfolio-item .lb-container {
	padding: 0;
}
#portfolio-item #lightbox img {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
#portfolio-item #lightbox h4,
#portfolio-item #lightbox p,
#portfolio-item #lightbox .lb-data .close {
	color: #fff;
	text-shadow: none;
}
/* Limit lightbox images that are wider than the screen,
 * to fit within the resolution */
#portfolio-item .lb-container img {
  display: block;
  max-width: 100%;
  height: auto;
}
#portfolio-item .lb-data {
	padding: 30px 0;
}
#portfolio-item .lb-prev {
	background: url(../img/global/cursor-prev.png);
	background-position: 25% 50%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-khtml-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	background-repeat: no-repeat;
}
#portfolio-item .lb-prev:hover {
	background-position: 25% 50%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	background-repeat: no-repeat;
}
#portfolio-item .lb-next {
	background: url(../img/global/cursor-next.png);
	background-position: 75% 50%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-khtml-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	background-repeat: no-repeat;
}
#portfolio-item .lb-next:hover {
	background-position: 75% 50%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	background-repeat: no-repeat;
}
/* *******************************************************
* Mailinglist signup, (homepage)
******************************************************* */
#mailinglist {
	text-align: center;
	background-color: #fff;
	z-index: 4;
}
#mailinglist h4 {
	text-transform: none;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 40px;
	letter-spacing: 2px;
}
#mailinglist p {
	font-family: 'Lato', cursive;
	font-style: italic;
}
#mailinglist i {
	font-size: 50px;
	display: block;
	margin-bottom: 20px;
}
/* Mailchimp signup, (index.html) */
#mailinglist form#mc-form {
	margin: 20px auto;
	max-width: 400px;
}
#mailinglist label.status {
	display: block;
	text-align: center;
	clear: both;
	margin: 40px auto;
	float: left;
	width: 100%;
}
#mailinglist label.status img {
	padding-right: 5px;
	top: -1px;
	position: relative;
}
#mailinglist button.signup {
	background-color: #151515;
	color: #fff;
	float: right;
	width: 100%;
}
#mailinglist button.signup:focus,
#mailinglist button.signup:active,
#mailinglist button.signup:visited {
	color: #fff;
}
#mailinglist #mc-email.form-control {
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #999;
	padding: 18px;
	margin-bottom: 15px;
}

.map-cover {
	background: rgba(19,19,19,0.7);
	width: 100%;
	z-index: 99;
	height: 400px;
	left: 0;
	top: 0;
	position: absolute;
	cursor: pointer;
}
.map-cover img {
	margin: auto;
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 90px;
	margin-left: -75px;
	margin-top: -95px
}

/* *******************************************************
* Hire us, (all pages).
******************************************************* */
#hire-us {
	padding: 25px 0 15px;
}

/* *******************************************************
* Press Package page, (press-kit.html).
******************************************************* */
#press-kit .press-meta h5,
#press-kit .press-meta a {
	line-height: 16px;
}
#press-kit .press-meta a {
	margin-left: 5px;
}
@media (max-width: 767px) {
	#press-kit .press-meta a,
	#press-kit .press-meta h5 {
		float: left !important;
		margin-top: 5px;
		clear: both;
	}
}
#press-kit a:hover {
	text-decoration: underline;
}
#press-kit .press-asset,
#press-kit .color-block {
	margin-bottom: 10px;
}
#press-kit .color-block {
	height: 120px;
}
#press-kit .btn span.glyphicon.glyphicon-download {
	position: relative;
	top: 2px;
	margin-left: 4px;
}

/* *******************************************************
* Style-guide page, (style-guide.html).
******************************************************* */
#style-guide .press-meta h5,
#style-guide .press-meta a {
	line-height: 16px;
}
#style-guide .press-meta a {
	margin-left: 5px;
}
#style-guide a:hover {
	text-decoration: underline;
}
#style-guide .press-asset,
#style-guide .color-block {
	margin-bottom: 10px;
}
#style-guide .color-block {
	height: 120px;
}
#style-guide .btn span.glyphicon.glyphicon-download {
	position: relative;
	top: 2px;
	margin-left: 4px;
}

/* *******************************************************
* figures section, (homepage)
******************************************************* */
#figures {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom:10px;
}
.figure-item {
	margin-top: 40px;
	margin-bottom: 40px;
}
.figure-item i {
	font-size: 70px;
	display: block;
	margin-bottom: 36px;
}
.figures-footer {
	margin-top: 45px;
}

/* sidebar */

.sidebar {
  display: block;
  float: left;
  width: 250px;
  background: #333;
}
.content {
  display: block;
  overflow: hidden;
  width: auto;
}
.sidebar-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-image: -webkit-linear-gradient(left, color-stop(#0090cc 10px), color-stop(#015579 10px));
  background-image: linear-gradient(to right, #0090cc 10px, #015579 10px);
  background-repeat: repeat-x;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);
}
.sidebar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active {
  outline: none;
}
.sidebar-nav ul li, .sidebar-nav ul a {
  display: block;
}
.sidebar-nav ul a {
  padding: 10px 20px;
  color: #aaa;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.sidebar-nav ul a:hover, .sidebar-nav ul a:focus, .sidebar-nav ul a:active {
  color: #fff;
  text-decoration: none;
}
.sidebar-nav ul ul a {
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-nav ul ul a:hover, .sidebar-nav ul ul a:focus, .sidebar-nav ul ul a:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-nav-item {
  padding-left: 5px;
}
.sidebar-nav-item-icon {
  padding-right: 5px;
}
#rtlh3 small {
    transform: rotateY(180deg);
    display: inline-block;
}

@media only screen and (min-width: 1170px) {

}

@media only screen and (min-width: 1170px) {

}


@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1170px) {

  }
