body {
  background:#ffffff;
  color: #666;
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}
.isi {box-shadow: 0 0 10px black;}
/* Top Nav */
ul.dropdown-menu {
	background-color: #055228;
}
ul.dropdown-menu li a {
	white-space: normal;
    color: #ffffff;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: bold;
}
.nav .open > a,
.nav .open > a:focus,
 .nav .open > a:hover {
	background-color: #2780e3;
	color: #ffffff;
}

.content {background: #fff; }
ul.dropdown-menu li a {
	color: #fff;
}

.navbar-inverse {
    font-family: ubuntu;
    border-color: #21cb00;
    box-shadow: 0 1px 3px 0 #b5b5b5;
    -moz-box-shadow: 0 1px 3px 0 #b5b5b5;
    -webkit-box-shadow: 0 1px 3px 0 #b5b5b5;
    border: 1px solid #DDD;
    border-bottom: 4px solid rgba(0,0,0,.1);
    background: #fff;
    margin: 0;
    transition: all 0.2s ease-out 0s;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0px 11px 8px -7px rgba(230, 230, 230, 0.9);
    -moz-box-shadow: 0px 11px 8px -7px rgba(238,238,238,0.9);
}
.navbar-right {
    float: right !important;
    margin-right: -28px; 
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
margin: 0;	
    color: #ffffff;
    background-color: #187d05;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #187d05;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #187d05;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #f15d22;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a:active {
    color: #ffffff;
    background-color: #187d05;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
	border-color: #00913e; background-color: #00913e;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #00913e;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #187d05;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #187d05;
  color: #ffffff;
}
#head_bottom {
  bottom: 0;
  width: 100%;
  color: white;
  z-index: 1;
}
#head_bottom #b_menu {
    padding: 10px 0 9px;
    z-index: 99;
    position: relative;
}
.detail #head_bottom #b_menu {
  padding: 13px 0;
}
#head_bottom #profile_menu {
  margin: 1px 0 0;
}
#head_bottom #profile_menu a {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  color: white;
}
#head_bottom #profile_menu a img {
  margin: -10px 10px 0 0;
}
#head_bottom #profile_menu a:hover {
  background: rgba(0, 0, 0, 0.5);
}
#head_bottom #b_menu{
	background: rgb(33, 203, 0);
    font-size: 13px;
}
#head_bottom #profile_menu {
	height:50px;
    background: #097339;
    font-size: 10px;
}
#slider {
top:50px;
  position: absolute;
  z-index: -1;
  background: #fff;
}
#slider .lqd {
  float: left;
  height: 650px;
}
/*HEADER*/
/* #head {
	height: 650px;
	width: 100%;
	position: relative;
} */
#head.detail {
  height: 230px;
}

/* #head:after {
            content: " ";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            z-index: 9;
            /* background: rgba(0, 0, 0, 0.4) url('media_library/images/header-gradient.png') repeat-x; */
            opacity: 0.8;
        } */
.header {
	top:70px;
    position: relative;
    z-index: 999;
    color: #FFF;
    font-size: 17px;
    min-height: 115px;
    padding: 15px;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.header{
	float: left;
}
.header-logo {
	height: auto;
	margin-top: 0;
	float: left;
}
.header .header-text h1 {
	font-family:"Titillium Web",sans-serif
}
.header .lead,.header h1 {
	margin-bottom:0
}
.header a{
	color:#76b7e8
}
.header a:hover {
	color:#a2d5e8
}
#main-header{
	margin-top: 60px;
}

#slidenya {
	top: 50px;
	position: absolute;
    width: 100%;
	margin-left: 6px;
    transform-origin: 60px 0px 0px;
    transform: scale(1.5);
}
.header-name{
    margin-left: 115px;
    margin-top: -16px;
}

.header-text {
    margin-left: 115px;
}

/* News Ticker */
.text-slider {
	padding:18px;
	background: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 50px;
    position: relative;
}

.text-slider .container ul {
	top: -5px;
}

.footer {
	width:100%; background: #bf0909;
  padding:20px 0 55px;
  margin-top: 30px;
  bottom:0;
  font-family: ubuntu;border-top: 4px solid #f90;
}
.footer h4 {
  color: #fff;
  padding-bottom: 5px;
  font-weight: bold;
  position: relative;
  font-family: 'Poppins', sans-serif;
  text-transform: none;
  text-align: left;
  font-size: 16px;
 
}

.footer h4::after {
  display:none
	/* background-color:#d5d5d5;
	bottom:0;
	content:"";
	height:1px;
	left:0;
	position:absolute;
	width:40px */
}
.footer a, .footer p {
	color:#fff
}

.footer a:hover {
	color:#fff;
	text-decoration:none
}
.footer ul {
	margin:0;
	padding:0;
	list-style:none
}
.footer ul li {
	font-size:10px;
	font-weight:300;
	padding-bottom:4px;
  list-style:none;
  border-top: 1px dashed #165080;
  text-transform: capitalize;
}
.footer ul li:last-child {
	border:0
}
.copyright {
	text-align: center; background: #000000; 
	width:100%;
	padding:20px 0 10px 0;
}
.copyright  {
	font-size:12px; font-family: ubuntu;
	margin-bottom:0;
	color: #fff;
}
.copyright a {
	color: #fff;
}
.no-padding {
	padding: 0;
}
.no-border {
	border:none;
}
.media {
	 /* background-color: #fff;
    -webkit-box-shadow: 0 8px 6px 0 grey, 8px 2px 6px -6px grey, -8px 2px 6px -6px grey;
    -moz-box-shadow: 0 8px 6px 0 grey, 8px 2px 6px -6px grey, -8px 2px 6px -6px grey;
    box-shadow: 0 8px 6px 0 grey, 8px 2px 6px -6px grey, -8px 2px 6px -6px grey;
    padding: 10px; */
}
.media h4 a, .thumbnail h4 a {
	color:#000000;
}

.breadcrumb {
  background-color: #0593d0;
  font-family: "champagne", Georgia;
  font-weight: bold;
  font-size: 20px;
  color: #DE7702;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white, #A2A2A2 1px 3px 2px;
}
.breadcrumb a, .breadcrumb .active {
	color: #fff;
}

.panel-default {
	border-color: rgba(191, 9, 9, 0.26);
}
.panel-default > .panel-heading {
	color: #fff;
	background-color: #2ba964;
}
.berita h4, .berita .h4 {
  text-decoration: none;
  font-size: 13px;
  font-family: "Montserrat", "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.9;
  color: #333;
  margin: 0 0 1rem;
}
.berita h4 a, .berita h4 a {text-decoration: none;}
.panel-title {
	font-weight: bold;
}
.navbar-collapse {
    
    padding-left: 0px;
    
}
.slider {
	margin-bottom: 20px;
}

/* Page Header */ 
.post-header {
	border-radius: 5px;
	background-color: #2ba964;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
}
.breadcrumb .post-header a {
	cursor: pointer;
}

.media-left, .media > .pull-left {
    padding-right: 10px;
    padding-top: 13px;
}

/* Back to TOP */ 
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2780e3;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 19px;
    top: 15px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #3fb618;
}
#return-to-top:hover i {
    color: #fff;
}

.text-danger {
	color: #f44336;
	font-style: italic;
}
.media-list {
    list-style: none;
}

/* Marquee */
ul.marquee {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	position: relative;
	overflow: hidden;
	height: 22px;
	background-color: transparent;
}
ul.marquee li {
	position: absolute;
	top: -900em;
	left: 0;
	display: block;
	white-space: nowrap;
	font: 14px Arial, Helvetica, sans-serif;
	padding: 2px 5px;
}

/* Social Icon */
ul.social-network {
	margin-top: 1px;
  margin-right: -111px;
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a:hover {
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;

	text-align:center;
	font-size:18px;
}
.social-circle li i {
	margin:0;
	line-height:40px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/* slidenya */

@media screen and (min-width:1200px) {

}
@media screen and (min-width:970px) {

}
@media screen and (min-width:768px) {

}
@media screen and (max-width:480px) {
.navbar-nav{margin: 0;}	
.header {top: 40px;}
.header-text {font-size: 13px;margin-left: 50px;background: rgba(23, 22, 22, 0.29);margin-top: 31px;padding-left: 5px;width: 220px;}
.header-name{}
.header .social-network {display: none;}
ul.social-network{margin-top:0;}
ul.social-network li{margin:0 0;}
.text-slider .container ul {top: -5px;}
.carousel-caption {}
.text-slider{margin-top:5px;}
.content{margin-top:0px;}
}

@media screen and (max-width:412px) {
.navbar-nav{margin: 0;}	
.header {top: 40px;}
.header-text {font-size: 13px;margin-left: 50px;background: rgba(23, 22, 22, 0.29);margin-top: 31px;padding-left: 5px;width: 220px;}
.header-name{}
.header .social-network {display: none;}
ul.social-network{margin-top:0;}
ul.social-network li{margin:0 0;}
.text-slider .container ul {top: -5px;}
.carousel-caption {}
.text-slider{margin-top:5px;}
.content{margin-top:0px;}
}

@media screen and (max-width:375px) {
.navbar-nav{margin: 0;}	
.header {top: 40px;}
.header-text {display:none;}
.header-name{margin-left: 28px;margin-top:10px;}
.header .social-network {display: none;}
ul.social-network{margin-top:0;}
ul.social-network li{margin:0 0;}
.text-slider .container ul {top: -5px;}
.carousel-caption {}
.text-slider{margin-top:5px;}
.content{margin-top:0px;}
}

@media screen and (max-width:360px) {
.navbar-nav{margin: 0;}	
.header {top: 40px;}
.header-text {display:none;}
.header-name{}
.header .social-network {display: none;}
ul.social-network{margin-top:0;}
ul.social-network li{margin:0 0;}
.text-slider .container ul {top: -5px;}
.carousel-caption {}
.text-slider{margin-top:5px;}
.content{margin-top:0px;}	
}

@media screen and (max-width:320px) {
.navbar-nav{margin: 0;}	
.header {top: 40px;}
.header-text{display:none;}
.header-name {margin: -10px 0px 0px 25px}
.header .social-network {display: none;}
ul.social-network{margin-top:0;}
ul.social-network li{margin:0 0;}
.text-slider .container ul {top: -5px;}
.carousel-caption {}
.text-slider {
    padding: 15px;
    height: 10px;
    margin-top: 0px;
}
.content{margin-top:0px;}	
}

/* Disable on Desktop */
@media screen and (min-width: 420px) {
#mobile{display:none !important;}	
}		
/* Disable on Mobile */
@media only screen and (max-width:420px) {
#desktop{display:none !important;}
}
.carousel-caption {
	font-size: 20px;
	text-align: left;
	position: absolute;
	padding-top: 5px;
	padding-bottom: 5px;
	left: 0%;
	z-index: 10;
	background: #FFFFFF;
    color: #5D5D5D;
    z-index: 50;
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    border-radius: 0.5em;
    -moz-border-radius: 0 1em 1em 0;
    border-radius: 0 1em 1em 0;
    opacity: 0.8;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
    -moz-box-shadow: 0 0 0.2em #5D5D5D;
    box-shadow: 0 0 0.2em #5D5D5D;
    padding-left: 10px;
}

.tab-content {
	padding: 13px 0 17px 0px;

	/* background-color: #fff;*/
	/*border: 1px solid #2780e3;*/
}
.nav-tabs li{
	font-size: 13px;
	font-weight: bold;
}
/* Overide Toastr color */
.toast {
  background-color: #030303;
}
/* custom toastr success */
.toast-success {
  background-color: #00cb18;
}
/* custom toastr error */
.toast-error {
  background-color: #ef4836;
}
/* custom toastr info */
.toast-info {
  background-color: #4b8df8;
}
/* custom toastr warning */
.toast-warning {
  background-color: #ffb848;
}
#toast-container > div {
	width: 360px;
	opacity: 0.9;
}

/* update */
#main-slide{width: 100%;}
#image-slideshow{
	width:100%;
	height:500px;
}
iframe,
embed,
object {max-width: 100%;}
 #content{
 margin: 0 0 30px;
 padding: 20px 0 0;}
.profil {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border: 3px solid white;
}
.btn-success {
    color: #ffffff;
    background-color: rgb(43, 169, 100);
    border-color: #7b7b7b;
}
.panel {
  position: relative;
  _background: #f4f4f4;
  _border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
}
.panel .title {
    font-size: 18px;
    padding: 15px 0px;
    text-transform: uppercase;
    border-bottom: 2px solid #ececec;
    color: #545454;
}

.panel .title1 {
  font-size: 18px;
  padding: 10px 20px;
  text-transform: uppercase;
  /*border-bottom: 2px solid #38744b;*/
  color: #38744b;
}

.panel .title span {
    font-weight: 600;
}
.panel.feed .title {
  display: inline-block;
  border: none;
  padding-right: 30px;
  padding-left: 20px;
  background: url(../images/bg_arrow.png) no-repeat center right;
}
.panel.feed .marquee {
  width: 800px;
  float: right;
  margin: 12px 15px 0 0;
}

/* SMS */
.kirinan {
    padding-left: 0;
    padding-right: 0;
}

.pd20 {
    padding: 20px;
}
ul.demo1.list_item {
    border-bottom: 1px solid #CCC;
}
theme.css:878
.list_item {
    padding: 0;
    margin: 0;
}
li.sms {
    border-bottom: 1px solid #f7f7f7 !important;
    font-size: 13px;
    padding: 0 0 7px !important;
    margin-bottom: 7px;
    color: #555;
}
.label {
    border-radius: 10px;
    padding: 5px 12px;
    text-transform: uppercase;
    font-size: 10px;
}
.label, .label.label-default {
    background-color: #9e9e9e;
}
/* DAFTAR */
.tabs-featured {
    text-align: left;
}
.tabs-content {
    padding: 20px;
    background-color: #fff;
}
.tabs-featured .nav-tabs>li {
    float: none;
    display: inline-block;
}
.tabs-featured p {
    width: 65%;
    margin: 0 auto;
}
.tabs-featured .nav-tabs {
    display: inline-table;
    border: 0 solid transparent;
    border-bottom: 4px solid #bf0909;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    margin-top: 30px;
}

/* pop up */
 #backgroundPopup {
            z-index:99999;
            position:fixed;
            display:none;
            height:100%;
            width:100%;
            background:rgba(0,0,0,0.8);
            top:0px;
            left:0px;
            text-align: center;
        }
        #toPopup{
            width: 800px;
            max-width: 99%;
            margin: 50px auto;
        }
        #toPopup img{
            max-width:100%;
            border: 5px solid #FFF;
            max-height: 100%;
        }
        a#close {
            background: #0a0500;
            color: #ffffff;
            font-weight: bold;
        }
