.prettyprint ol,
.prettyprint ul {
  list-style: none;
}
.prettyprint ol.linenums {
  list-style: decimal outside;
  padding-left: 47px;
  color: #AFAFAF;
  font-size: 13px;
}
.prettyprint ol.linenums li {
  padding-left: 15px;
  border-left: 2px #6CE26C solid;
}
.prettyprint li > * {
  font-size: 14px;
}
.prettyprint {
  border: 5px solid #DDD;
  padding: 7px 0 5px;
  font-size: 14px;
  white-space: pre;
  overflow: auto;
  max-height: 500px;
  width: 100%;
  display: block;
}
.prettyprint ol,
.prettyprint ul {
  padding: 5px 0;
}
.prettyprint li.L0,
.prettyprint li.L1,
.prettyprint li.L2,
.prettyprint li.L3,
.prettyprint li.L4,
.prettyprint li.L5,
.prettyprint li.L6,
.prettyprint li.L7,
.prettyprint li.L8,
.prettyprint li.L9 {
  list-style: inherit;
  background: none;
}
.prettyprint.alternate li.L1,
.prettyprint.alternate li.L3,
.prettyprint.alternate li.L5,
.prettyprint.alternate li.L7,
.prettyprint.alternate li.L9 {
  background: #F5F5F5;
}
