.prettyprint.theme-balupton {
  font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  margin: 20px 0px;
}
.prettyprint.theme-balupton .com {
  color: #008200;
  /* balupton green */
}
.prettyprint.theme-balupton .lit {
  color: #066;
  /* google green */
}
.prettyprint.theme-balupton.lang-html .lit {
  /* CSS Property Value */
  color: #066;
  /* google green */
}
.prettyprint.theme-balupton.lang-html .kwd {
  /* CSS Property Value Keyword */
  color: #066;
  /* google green */
  font-weight: bold;
}
.prettyprint.theme-balupton.lang-html .atv + .pln,
.prettyprint.theme-balupton.lang-html .pun + .pln {
  /* CSS Property Name */
  color: blue;
}
.prettyprint.theme-balupton .atv,
.prettyprint.theme-balupton .str {
  color: blue;
}
.prettyprint.theme-balupton .atn {
  color: gray;
}
.prettyprint.theme-balupton .pln {
  color: black;
}
.prettyprint.theme-balupton .pun {
  color: #666;
}
.prettyprint.theme-balupton .typ {
  color: #606;
}
.prettyprint.theme-balupton .tag,
.prettyprint.theme-balupton .kwd {
  color: #006699;
  font-weight: bold;
}
